@font-face {
	font-family: 'icomoon';
	src:  url('../f/fonts/icomoon.eot?5cq1fp');
	src:  url('../f/fonts/icomoon.eot?5cq1fp#iefix') format('embedded-opentype'),
		url('../f/fonts/icomoon.ttf?5cq1fp') format('truetype'),
		url('../f/fonts/icomoon.woff?5cq1fp') format('woff'),
		url('../f/fonts/icomoon.svg?5cq1fp#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icm-"], [class*=" icm-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icm-icon_geo:before {
	content: "\e900";
}
.icm-icon_info:before {
	content: "\e901";
}
.icm-icon_instagram:before {
	content: "\e902";
}
.icm-icon_search:before {
	content: "\e903";
}
.icm-icon_shopping_cart:before {
	content: "\e904";
}
.icm-icon_telephone:before {
	content: "\e905";
}
.icm-icon_time:before {
	content: "\e906";
}
.icm-icon_add:before {
	content: "\e907";
}
.icm-icon_arrow_left:before {
	content: "\e908";
}
.icm-icon_arrow_right:before {
	content: "\e909";
}
.icm-icon_burger:before {
	content: "\e90a";
}
.icm-icon_calendar:before {
	content: "\e90b";
}
.icm-icon_check:before {
	content: "\e90c";
}
.icm-icon_close:before {
	content: "\e90d";
}
.icm-icon_drop_down:before {
	content: "\e90e";
}
.icm-icon_fb:before {
	content: "\e90f";
}
