.no-phone {
  display: block;
}
@media screen and (max-width: 759px) {
  .no-phone {
    display: none;
  }
}
.only-phone {
  display: none;
}
@media screen and (max-width: 759px) {
  .only-phone {
    display: block;
  }
}
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 15px;
  position: relative;
}
@media screen and (max-width: 759px) {
  .container {
    padding: 0 10px;
  }
}
.row {
  margin-left: -15px;
  margin-right: -15px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: calc(100% + 30px);
}
@media screen and (max-width: 759px) {
  .row {
    width: calc(100% + 20px);
    margin-left: -10px;
    margin-right: -10px;
  }
}
.row_middle {
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.col {
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 759px) {
  .col {
    padding-right: 10px;
    padding-left: 10px;
  }
}
*:focus {
  outline: none;
}
a {
  text-decoration: none;
}
.btn {
  width: 100%;
  max-width: 187px;
  border-radius: 2px;
  color: #fff;
  background: #67473c;
  font-size: 14px;
  display: inline-block;
  line-height: 32px;
  height: 32px;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  font-style: normal;
  -webkit-transition: all 0.175s;
  -moz-transition: all 0.175s;
  -o-transition: all 0.175s;
  -ms-transition: all 0.175s;
  transition: all 0.175s;
  border: 1px solid transparent;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn:hover {
  background: #fff;
  border: 1px solid #67473c;
  color: #67473c;
}
.btn_invert {
  background: #fff;
  border: 1px solid #67473c;
  color: #67473c;
}
.btn_invert:hover {
  background: #67473c;
  border: 1px solid #67473c;
  color: #fff;
}
.btn_inner {
  background: #ad968d;
  border: 1px solid #fff;
  color: #fff;
}
.btn_inner:hover {
  background: #fff;
  border: 1px solid #ad968d;
  color: #ad968d;
}
section {
  position: relative;
}
.checkbox {
  vertical-align: top;
  width: 24px;
  height: 24px;
  margin: 0;
}
.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.checkbox:not(checked) + label {
  position: relative;
  display: block;
  padding: 0 0 0 25px;
}
.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 15px;
  height: 15px;
  background: #f3e9e2;
  border-radius: 2px;
  border: 2px solid transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}
.checkbox:not(checked) + label:after {
  position: absolute;
  left: 0px;
  top: 0px;
  cursor: pointer;
}
.checkbox:checked + label:after {
  content: '';
  background: #67473c;
  border: 2px solid #f3e9e2;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.col-1 {
  width: 8.333333333333334%;
}
.col-2 {
  width: 16.666666666666668%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.333333333333336%;
}
.col-5 {
  width: 41.66666666666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.333333333333336%;
}
.col-8 {
  width: 66.66666666666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333333334%;
}
.col-11 {
  width: 91.66666666666667%;
}
.col-12 {
  width: 100%;
}
@media screen and (max-width: 1023px) {
  .col-t-1 {
    width: 8.333333333333334%;
  }
}
@media screen and (max-width: 1023px) {
  .col-t-2 {
    width: 16.666666666666668%;
  }
}
@media screen and (max-width: 1023px) {
  .col-t-3 {
    width: 25%;
  }
}
@media screen and (max-width: 1023px) {
  .col-t-4 {
    width: 33.333333333333336%;
  }
}
@media screen and (max-width: 1023px) {
  .col-t-5 {
    width: 41.66666666666667%;
  }
}
@media screen and (max-width: 1023px) {
  .col-t-6 {
    width: 50%;
  }
}
@media screen and (max-width: 1023px) {
  .col-t-7 {
    width: 58.333333333333336%;
  }
}
@media screen and (max-width: 1023px) {
  .col-t-8 {
    width: 66.66666666666667%;
  }
}
@media screen and (max-width: 1023px) {
  .col-t-9 {
    width: 75%;
  }
}
@media screen and (max-width: 1023px) {
  .col-t-10 {
    width: 83.33333333333334%;
  }
}
@media screen and (max-width: 1023px) {
  .col-t-11 {
    width: 91.66666666666667%;
  }
}
@media screen and (max-width: 1023px) {
  .col-t-12 {
    width: 100%;
  }
}
@media screen and (max-width: 759px) {
  .col-p-1 {
    width: 8.333333333333334%;
  }
}
@media screen and (max-width: 759px) {
  .col-p-2 {
    width: 16.666666666666668%;
  }
}
@media screen and (max-width: 759px) {
  .col-p-3 {
    width: 25%;
  }
}
@media screen and (max-width: 759px) {
  .col-p-4 {
    width: 33.333333333333336%;
  }
}
@media screen and (max-width: 759px) {
  .col-p-5 {
    width: 41.66666666666667%;
  }
}
@media screen and (max-width: 759px) {
  .col-p-6 {
    width: 50%;
  }
}
@media screen and (max-width: 759px) {
  .col-p-7 {
    width: 58.333333333333336%;
  }
}
@media screen and (max-width: 759px) {
  .col-p-8 {
    width: 66.66666666666667%;
  }
}
@media screen and (max-width: 759px) {
  .col-p-9 {
    width: 75%;
  }
}
@media screen and (max-width: 759px) {
  .col-p-10 {
    width: 83.33333333333334%;
  }
}
@media screen and (max-width: 759px) {
  .col-p-11 {
    width: 91.66666666666667%;
  }
}
@media screen and (max-width: 759px) {
  .col-p-12 {
    width: 100%;
  }
}
.col-offset-0 {
  margin-left: 0%;
}
.col-offset-1 {
  margin-left: 8.333333333333334%;
}
.col-offset-2 {
  margin-left: 16.666666666666668%;
}
.col-offset-3 {
  margin-left: 25%;
}
.col-offset-4 {
  margin-left: 33.333333333333336%;
}
.col-offset-5 {
  margin-left: 41.66666666666667%;
}
.col-offset-6 {
  margin-left: 50%;
}
.col-offset-7 {
  margin-left: 58.333333333333336%;
}
.col-offset-8 {
  margin-left: 66.66666666666667%;
}
.col-offset-9 {
  margin-left: 75%;
}
.col-offset-10 {
  margin-left: 83.33333333333334%;
}
.col-offset-11 {
  margin-left: 91.66666666666667%;
}
.col-offset-12 {
  margin-left: 100%;
}
@media screen and (max-width: 1023px) {
  .col-offset-t-0 {
    margin-left: 0%;
  }
}
@media screen and (max-width: 1023px) {
  .col-offset-t-1 {
    margin-left: 8.333333333333334%;
  }
}
@media screen and (max-width: 1023px) {
  .col-offset-t-2 {
    margin-left: 16.666666666666668%;
  }
}
@media screen and (max-width: 1023px) {
  .col-offset-t-3 {
    margin-left: 25%;
  }
}
@media screen and (max-width: 1023px) {
  .col-offset-t-4 {
    margin-left: 33.333333333333336%;
  }
}
@media screen and (max-width: 1023px) {
  .col-offset-t-5 {
    margin-left: 41.66666666666667%;
  }
}
@media screen and (max-width: 1023px) {
  .col-offset-t-6 {
    margin-left: 50%;
  }
}
@media screen and (max-width: 1023px) {
  .col-offset-t-7 {
    margin-left: 58.333333333333336%;
  }
}
@media screen and (max-width: 1023px) {
  .col-offset-t-8 {
    margin-left: 66.66666666666667%;
  }
}
@media screen and (max-width: 1023px) {
  .col-offset-t-9 {
    margin-left: 75%;
  }
}
@media screen and (max-width: 1023px) {
  .col-offset-t-10 {
    margin-left: 83.33333333333334%;
  }
}
@media screen and (max-width: 1023px) {
  .col-offset-t-11 {
    margin-left: 91.66666666666667%;
  }
}
@media screen and (max-width: 1023px) {
  .col-offset-t-12 {
    margin-left: 100%;
  }
}
@media screen and (max-width: 759px) {
  .col-offset-p-0 {
    margin-left: 0%;
  }
}
@media screen and (max-width: 759px) {
  .col-offset-p-1 {
    margin-left: 8.333333333333334%;
  }
}
@media screen and (max-width: 759px) {
  .col-offset-p-2 {
    margin-left: 16.666666666666668%;
  }
}
@media screen and (max-width: 759px) {
  .col-offset-p-3 {
    margin-left: 25%;
  }
}
@media screen and (max-width: 759px) {
  .col-offset-p-4 {
    margin-left: 33.333333333333336%;
  }
}
@media screen and (max-width: 759px) {
  .col-offset-p-5 {
    margin-left: 41.66666666666667%;
  }
}
@media screen and (max-width: 759px) {
  .col-offset-p-6 {
    margin-left: 50%;
  }
}
@media screen and (max-width: 759px) {
  .col-offset-p-7 {
    margin-left: 58.333333333333336%;
  }
}
@media screen and (max-width: 759px) {
  .col-offset-p-8 {
    margin-left: 66.66666666666667%;
  }
}
@media screen and (max-width: 759px) {
  .col-offset-p-9 {
    margin-left: 75%;
  }
}
@media screen and (max-width: 759px) {
  .col-offset-p-10 {
    margin-left: 83.33333333333334%;
  }
}
@media screen and (max-width: 759px) {
  .col-offset-p-11 {
    margin-left: 91.66666666666667%;
  }
}
@media screen and (max-width: 759px) {
  .col-offset-p-12 {
    margin-left: 100%;
  }
}
@font-face {
  font-family: 'Roboto';
  src: local('../f/fonts/Roboto Thin'), local('../f/fonts/Roboto-Thin'), url("../f/fonts/Robotothin.woff2") format('woff2'), url("../f/fonts/Robotothin.woff") format('woff'), url("../f/fonts/Robotothin.ttf") format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: local('../f/fonts/Roboto Light'), local('../f/fonts/Roboto-Light'), url("../f/fonts/Robotolight.woff2") format('woff2'), url("../f/fonts/Robotolight.woff") format('woff'), url("../f/fonts/Robotolight.ttf") format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('../f/fonts/Roboto Light Italic'), local('../f/fonts/Roboto-LightItalic'), url("../f/fonts/Robotolightitalic.woff2") format('woff2'), url("../f/fonts/Robotolightitalic.woff") format('woff'), url("../f/fonts/Robotolightitalic.ttf") format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: local('../f/fonts/Roboto'), local('../f/fonts/Roboto-Regular'), url("../f/fonts/Roboto.woff2") format('woff2'), url("../f/fonts/Roboto.woff") format('woff'), url("../f/fonts/Roboto.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('../f/fonts/Roboto Italic'), local('../f/fonts/Roboto-Italic'), url("../f/fonts/Robotoitalic.woff2") format('woff2'), url("../f/fonts/Robotoitalic.woff") format('woff'), url("../f/fonts/Robotoitalic.ttf") format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: local('../f/fonts/Roboto Medium'), local('../f/fonts/Roboto-Medium'), url("../f/fonts/Robotomedium.woff2") format('woff2'), url("../f/fonts/Robotomedium.woff") format('woff'), url("../f/fonts/Robotomedium.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('../f/fonts/Roboto Medium Italic'), local('../f/fonts/Roboto-MediumItalic'), url("../f/fonts/Robotomediumitalic.woff2") format('woff2'), url("../f/fonts/Robotomediumitalic.woff") format('woff'), url("../f/fonts/Robotomediumitalic.ttf") format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: local('../f/fonts/Roboto Bold'), local('../f/fonts/Roboto-Bold'), url("../f/fonts/Robotobold.woff2") format('woff2'), url("../f/fonts/Robotobold.woff") format('woff'), url("../f/fonts/Robotobold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('../f/fonts/Roboto Bold Italic'), local('../f/fonts/Roboto-BoldItalic'), url("../f/fonts/Robotobolditalic.woff2") format('woff2'), url("../f/fonts/Robotobolditalic.woff") format('woff'), url("../f/fonts/Robotobolditalic.ttf") format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: local('../f/fonts/Roboto Black'), local('../f/fonts/Roboto-Black'), url("../f/fonts/Robotoblack.woff2") format('woff2'), url("../f/fonts/Robotoblack.woff") format('woff'), url("../f/fonts/Robotoblack.ttf") format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('../f/fonts/Roboto Black Italic'), local('../f/fonts/Roboto-BlackItalic'), url("../f/fonts/Robotoblackitalic.woff2") format('woff2'), url("../f/fonts/Robotoblackitalic.woff") format('woff'), url("../f/fonts/Robotoblackitalic.ttf") format('truetype');
  font-weight: 900;
  font-style: italic;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
.about {
  padding: 60px 0 120px 0;
}
@media screen and (max-width: 1023px) {
  .about {
    padding: 20px 0 20px;
  }
}
@media screen and (max-width: 759px) {
  .about .col-6 {
    width: 100%;
  }
  .about .row {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.about__slider {
  height: 360px;
  position: relative;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.about__slider .slick-list {
  overflow: hidden;
}
.about__slider .slick-track {
  position: relative;
}
@media screen and (max-width: 1023px) {
  .about__slider {
    height: auto;
  }
}
@media screen and (max-width: 759px) {
  .about__slider {
    padding: 0;
  }
}
.about__slider-nav {
  width: 55px;
  height: 45px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  border: 1px solid #e5d9d1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #f9f4f1;
  -webkit-transition: all 0.175s;
  -moz-transition: all 0.175s;
  -o-transition: all 0.175s;
  -ms-transition: all 0.175s;
  transition: all 0.175s;
  color: #67473c;
  font-size: 30px;
  cursor: pointer;
  z-index: 1;
  bottom: -74px;
  position: absolute;
}
.about__slider-nav:hover {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
@media screen and (max-width: 759px) {
  .about__slider-nav {
    bottom: -54px;
  }
}
.about__slider-nav_left {
  right: 78px;
}
@media screen and (max-width: 759px) {
  .about__slider-nav_left {
    right: 64px;
  }
}
.about__slider-nav_left:before {
  content: '\e908';
  font-family: 'icomoon';
}
.about__slider-nav_right {
  right: 14px;
}
@media screen and (max-width: 759px) {
  .about__slider-nav_right {
    right: 0;
  }
}
.about__slider-nav_right:before {
  content: '\e909';
  font-family: 'icomoon';
}
.about__slider-item {
  display: inline-block;
  width: 100%;
}
.about__slider-img {
  max-width: 100%;
}
@media screen and (max-width: 759px) {
  .about__slider-img {
    width: 100%;
  }
}
.about__head {
  margin-bottom: 20px;
  font-size: 30px;
  text-transform: uppercase;
  color: #67473c;
}
@media screen and (max-width: 759px) {
  .about__head {
    font-size: 18px;
    margin: 10px 0;
  }
}
.about__description {
  font-size: 14px;
}
.about__description p {
  margin-bottom: 15px;
}
.about__btn {
  margin-top: 30px;
}
@media screen and (max-width: 759px) {
  .about__content {
    margin-top: 60px;
  }
}
.b-form {
  width: 100%;
  max-width: 375px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #8e6e67;
  opacity: 0.95;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
  filter: alpha(opacity=95);
  padding: 15px 30px;
  position: absolute;
  min-height: 0;
  right: 0px;
  top: 0;
}
.b-form__overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  width: 100vw;
  height: 100%;
  height: 100vh;
  z-index: 200;
  overflow: auto;
}
.b-form__close {
  top: 25px;
  right: 15px;
  cursor: pointer;
  position: absolute;
}
.b-form__close:before {
  content: '\e90d';
  color: #fff;
  -webkit-transition: all 0.175s;
  -moz-transition: all 0.175s;
  -o-transition: all 0.175s;
  -ms-transition: all 0.175s;
  transition: all 0.175s;
  font-family: 'icomoon';
}
.b-form__head {
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  margin: 10px 0;
}
.b-form__wrapper {
  margin-top: 10px;
}
.b-form__field {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
}
.b-form__field-head {
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;
}
.b-form__input-wrapper {
  position: relative;
}
.b-form__input-wrapper .datepicker {
  top: 50px !important;
  left: 0 !important;
}
.b-form__select-input {
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}
.b-form__input,
.b-form__select-input {
  padding: 10px 40px 10px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #f3e9e2;
  width: 100%;
  border-radius: 3px;
  border: none;
  font-size: 16px;
  color: #67473c;
  position: relative;
  height: 40px;
}
.b-form__input::-webkit-input-placeholder,
.b-form__select-input::-webkit-input-placeholder {
  font-size: 16px;
  color: #67473c;
}
.b-form__input:-moz-placeholder,
.b-form__select-input:-moz-placeholder {
  font-size: 16px;
  color: #67473c;
}
.b-form__input::-moz-placeholder,
.b-form__select-input::-moz-placeholder {
  font-size: 16px;
  color: #67473c;
}
.b-form__input:-ms-placeholder,
.b-form__select-input:-ms-placeholder {
  font-size: 16px;
  color: #67473c;
}
.b-form__input:-ms-input-placeholder,
.b-form__select-input:-ms-input-placeholder {
  font-size: 16px;
  color: #67473c;
}
.b-form__select-input:before {
  content: '\e90e';
  font-family: 'icomoon';
  font-size: 18px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  background: #67473c;
  position: absolute;
  color: #f3e9e2;
  top: 1px;
  right: 1px;
  width: 38px;
  height: 38px;
  cursor: pointer;
}
.b-form__select-list {
  display: none;
  position: absolute;
  z-index: 10;
}
.b-form__select-inner {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  color: #dadada rkBrown;
}
.b-form__select-item {
  width: 100%;
  padding: 10px;
  color: #67473c;
  border-bottom: 1px solid #836358;
  background: #f3e9e2;
  cursor: pointer;
}
.b-form__add {
  margin: 15px 0;
  position: relative;
  cursor: pointer;
}
.b-form__add:before {
  width: 19px;
  height: 19px;
  content: '\e907';
  font-family: 'icomoon';
  background: #8e6e67;
  color: #f3e9e2;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: absolute;
  font-size: 19px;
}
.b-form__add-head {
  padding-left: 30px;
  color: #fff;
}
.b-form__date .b-form__input-wrapper:before {
  content: '\e90b';
  font-family: 'icomoon';
  font-size: 18px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  background: #67473c;
  position: absolute;
  color: #f3e9e2;
  top: 1px;
  right: 1px;
  width: 38px;
  height: 38px;
  cursor: pointer;
  z-index: 1;
}
.b-form__policy {
  margin: 15px 0 30px;
  font-size: 14px;
  color: #fff;
}
.b-form__policy-link {
  color: #fff;
  text-decoration: underline;
}
.b-form__policy-link:hover {
  text-decoration: none;
}
.b-form__btn {
  text-align: center;
  margin-bottom: 50px;
}
.b-form__response {
  color: #fff;
  font-size: 14px;
}
.b-form__order {
  font-size: 14px;
  color: #fff;
  margin-bottom: 30px;
}
.b-form__order-item {
  padding: 20px 0;
  border-bottom: 1px solid #a18980;
}
.b-form__order-head {
  margin-bottom: 15px;
}
.b-form__order-bottom {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  width: 100%;
}
.b-form__order-price,
.b-form__order-delete {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}
.b-form__order-price {
  text-align: left;
  padding-right: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b-form__order-delete {
  text-align: right;
  text-decoration: underline;
  cursor: pointer;
  padding-left: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b-form__order-delete:hover {
  text-decoration: none;
}
.b-form__order-total {
  font-weight: 500;
  text-align: right;
  text-transform: uppercase;
}
.b-policy {
  background: #fff;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  position: absolute;
  min-height: 0;
  width: 615px;
  max-width: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 2px;
  border: 1px solid #e7dadd;
  padding: 20px 15px 40px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #67473c;
  -webkit-box-shadow: 0px 4px 10px 2px #eae0e5;
  box-shadow: 0px 4px 10px 2px #eae0e5;
}
.b-policy__overlay {
  display: none;
  background: rgba(253,253,253,0.8);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  width: 100vw;
  height: 100%;
  height: 100vh;
  z-index: 550;
  overflow: auto;
}
.b-policy__close {
  top: 20px;
  right: 15px;
  cursor: pointer;
  position: absolute;
}
.b-policy__close:hover:before {
  color: #836358;
}
.b-policy__close:before {
  content: '\e90d';
  color: #67473c;
  -webkit-transition: all 0.175s;
  -moz-transition: all 0.175s;
  -o-transition: all 0.175s;
  -ms-transition: all 0.175s;
  transition: all 0.175s;
  font-family: 'icomoon';
}
.b-policy__head {
  text-transform: uppercase;
  margin: 20px 0 15px 15px;
  font-size: 20px;
}
.b-policy__content {
  color: #836358;
  font-size: 14px;
  height: 225px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 25px 0 15px !important;
}
.b-policy__content p {
  margin-bottom: 10px;
}
.banner {
  background-position: center top;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  background-size: auto 100%;
  margin-top: -72px;
}
@media screen and (max-width: 1023px) {
  .banner {
    margin-top: -112px;
  }
}
@media screen and (max-width: 759px) {
  .banner {
    background-position: 60% bottom;
  }
}
.banner__inner {
  height: 300px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.banner__title {
  font-size: 97px;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30px;
}
@media screen and (max-width: 1271px) {
  .banner__title {
    font-size: 60px;
  }
}
@media screen and (max-width: 759px) {
  .banner__title {
    font-size: 30px;
    margin-bottom: 15px;
  }
}
.cart {
  width: 23%;
  text-align: right;
  color: #836358;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
@media screen and (max-width: 759px) {
  .cart {
    width: 100%;
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -o-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
}
.cart__note {
  text-transform: uppercase;
  margin-right: 20px;
  font-size: 14px;
}
.cart__amount {
  display: block;
  margin-top: 5px;
  width: 100%;
  text-transform: lowercase;
}
.cart__img {
  font-size: 28px;
}
.contacts {
  padding: 60px 0 25px 0;
  color: #67473c;
  margin-bottom: 30px;
}
@media screen and (max-width: 1023px) {
  .contacts .col-3 {
    width: 50%;
  }
}
@media screen and (max-width: 759px) {
  .contacts {
    padding-top: 20px;
  }
  .contacts .col-3 {
    width: 100%;
  }
}
.contacts__head {
  font-size: 97px;
  font-weight: 900;
  color: #67473c;
  margin-bottom: 30px;
  text-transform: uppercase;
}
@media screen and (max-width: 1271px) {
  .contacts__head {
    font-size: 60px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 759px) {
  .contacts__head {
    font-size: 30px;
    margin-bottom: 25px;
  }
}
.contacts__item {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 1023px) {
  .contacts__item {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 759px) {
  .contacts__item {
    padding-left: 0;
  }
}
.contacts__item-link {
  color: #67473c;
}
.contacts__item-link:hover {
  text-decoration: underline;
}
.contacts__item-row {
  margin-bottom: 15px;
  font-size: 14px;
  position: relative;
  padding-left: 25px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@media screen and (max-width: 759px) {
  .contacts__item-row {
    margin-bottom: 10px;
  }
}
.contacts__item-row_head {
  font-size: 20px;
  padding-left: 0;
  text-transform: uppercase;
}
@media screen and (max-width: 759px) {
  .contacts__item-row_head {
    font-size: 18px;
  }
}
.contacts__item-row_adress:before {
  font-size: 15px;
  position: absolute;
  left: 0;
  content: '\e900';
  font-family: 'icomoon';
  color: #67473c;
}
.contacts__item-row_phone:before {
  font-size: 15px;
  position: absolute;
  left: 0;
  content: '\e905';
  font-family: 'icomoon';
  color: #67473c;
}
.contacts__item-row_time:before {
  font-size: 15px;
  position: absolute;
  left: 0;
  content: '\e906';
  font-family: 'icomoon';
  color: #67473c;
}
.contacts__item-row_insta .contacts__item-link {
  text-decoration: underline;
}
@media screen and (max-width: 759px) {
  .contacts__item-row_insta .contacts__item-link {
    display: none;
  }
}
.contacts__item-row_insta .contacts__item-link:hover {
  text-decoration: none;
}
.contacts__item-row_insta:before {
  font-size: 15px;
  position: absolute;
  left: 0;
  content: '\e902';
  font-family: 'icomoon';
  color: #67473c;
}
@media screen and (max-width: 759px) {
  .contacts__item-row_insta:before {
    font-size: 37px;
    top: 0px;
  }
}
.contacts__item-row_fb .contacts__item-link {
  text-decoration: underline;
}
@media screen and (max-width: 759px) {
  .contacts__item-row_fb .contacts__item-link {
    display: none;
  }
}
.contacts__item-row_fb .contacts__item-link:hover {
  text-decoration: none;
}
.contacts__item-row_fb:before {
  font-size: 15px;
  position: absolute;
  left: 0;
  content: '\e90f';
  font-family: 'icomoon';
  color: #67473c;
}
@media screen and (max-width: 759px) {
  .contacts__item-row_fb:before {
    font-size: 37px;
    top: -10px;
    left: 50px;
  }
}
.contacts__btn {
  width: 100%;
  max-width: 187px;
}
.content {
  padding: 60px 0;
}
@media screen and (max-width: 759px) {
  .content {
    padding: 20px 0;
  }
}
.content__wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
@media screen and (max-width: 1023px) {
  .content__wrapper {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.content__left {
  width: 22%;
}
@media screen and (max-width: 1023px) {
  .content__left {
    width: 100%;
    margin-bottom: 20px;
  }
}
.content__menu {
  background: #fbf7f4;
}
.content__menu-item {
  width: 100%;
  padding: 18px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.175s;
  -moz-transition: all 0.175s;
  -o-transition: all 0.175s;
  -ms-transition: all 0.175s;
  transition: all 0.175s;
}
.content__menu-item:hover,
.content__menu-item:active {
  background: #f3e9e2;
}
@media screen and (max-width: 759px) {
  .content__menu-item {
    padding: 9px 15px;
  }
}
.content__menu-link {
  color: #67473c;
  font-size: 14px;
}
.content__right {
  width: 74%;
  margin-left: auto;
}
@media screen and (max-width: 1023px) {
  .content__right {
    width: 100%;
    margin-left: 0;
  }
}
.content__header {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  border-bottom: 2px solid #f3e9e2;
  padding-bottom: 15px;
}
@media screen and (max-width: 759px) {
  .content__header {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.content__title {
  font-size: 30px;
  color: #67473c;
  text-transform: uppercase;
  width: 77%;
}
@media screen and (max-width: 759px) {
  .content__title {
    width: 100%;
    font-size: 18px;
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -o-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    margin-top: 10px;
  }
}
@media screen and (max-width: 1023px) {
  .content__body .col-4 {
    width: 50%;
  }
}
@media screen and (max-width: 759px) {
  .content__body .col-4 {
    width: 100%;
  }
}
.footer {
  padding: 20px 0;
  background: #67473c;
  color: #f3e9e2;
}
@media screen and (max-width: 759px) {
  .footer {
    padding: 10px 0;
  }
}
.footer__wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-size: 13px;
}
@media screen and (max-width: 1023px) {
  .footer__wrapper {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 759px) {
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.footer__logo {
  width: 17%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
@media screen and (max-width: 1023px) {
  .footer__logo {
    width: 30%;
  }
}
@media screen and (max-width: 759px) {
  .footer__logo {
    width: 100%;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.footer__logo-img-wrapper {
  width: 100%;
  max-width: 180px;
  margin-right: 15px;
}
@media screen and (max-width: 759px) {
  .footer__logo-img-wrapper {
    margin-right: 0;
  }
}
.footer__logo-img {
  max-width: 100%;
}
.footer__slogan {
  font-size: 12px;
  text-transform: uppercase;
  width: 12%;
  padding: 0 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 1023px) {
  .footer__slogan {
    width: 20%;
    margin-right: auto;
  }
}
@media screen and (max-width: 759px) {
  .footer__slogan {
    display: none;
  }
}
.footer__social {
  width: 7%;
  padding: 0 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 1271px) {
  .footer__social {
    width: 6%;
  }
}
@media screen and (max-width: 1023px) {
  .footer__social {
    width: 20%;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
  }
}
@media screen and (max-width: 759px) {
  .footer__social {
    display: none;
  }
}
.footer__social-link {
  font-size: 18px;
  color: #f3e9e2;
  max-width: 18px;
  margin: 0 auto;
  display: block;
}
@media screen and (max-width: 1023px) {
  .footer__social-link {
    font-size: 36px;
  }
}
@media screen and (max-width: 759px) {
  .footer__social-link {
    display: none;
  }
}
.footer__menu {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  font-size: 13px;
  width: 43%;
  padding: 0 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 1271px) {
  .footer__menu {
    width: 40%;
  }
}
@media screen and (max-width: 1023px) {
  .footer__menu {
    width: 60%;
    margin-top: 15px;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -o-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 759px) {
  .footer__menu {
    display: none;
  }
}
.footer__menu-link {
  color: #f3e9e2;
  text-transform: uppercase;
  margin: 0 10px;
}
@media screen and (max-width: 1023px) {
  .footer__menu-link {
    margin: 0 20px 0 0;
  }
}
.footer__menu-link:hover {
  text-decoration: underline;
}
.footer__right {
  text-align: right;
  width: 22%;
  padding-left: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 1271px) {
  .footer__right {
    width: 25%;
  }
}
@media screen and (max-width: 1023px) {
  .footer__right {
    width: 40%;
    margin-top: 15px;
  }
}
@media screen and (max-width: 759px) {
  .footer__right {
    width: 100%;
    margin-top: 10px;
    padding: 0;
    text-align: center;
  }
}
.footer__policy {
  color: #f3e9e2;
  display: inline-block;
  margin-bottom: 10px;
  cursor: pointer;
  text-decoration: underline;
}
.footer__policy:hover {
  text-decoration: none;
}
.header {
  z-index: 5;
  position: relative;
}
.header__wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  margin: 15px 0;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
@media screen and (max-width: 1023px) {
  .header__wrapper {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 759px) {
  .header__wrapper {
    text-align: center;
    margin: 5px 0;
  }
}
.header__logo {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  width: 17%;
  max-width: 180px;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@media screen and (max-width: 1023px) {
  .header__logo {
    width: 30%;
  }
}
@media screen and (max-width: 759px) {
  .header__logo {
    width: 100%;
    margin: auto;
  }
}
.header__logo-img {
  max-width: 100%;
}
.header__slogan {
  color: #836358;
  font-size: 12px;
  margin-left: 15px;
  width: 11%;
  margin-right: auto;
  text-transform: uppercase;
}
@media screen and (max-width: 1023px) {
  .header__slogan {
    width: 21%;
    margin-right: auto;
  }
}
@media screen and (max-width: 759px) {
  .header__slogan {
    display: none;
  }
}
.header__menu {
  width: 34%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 0 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 1023px) {
  .header__menu {
    width: 60%;
    margin-top: 15px;
  }
}
@media screen and (max-width: 759px) {
  .header__menu {
    width: 100%;
    position: absolute;
    top: -20px;
    z-index: 1;
    left: 0;
    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    background: #faf9f9;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    -o-transition: -o-transform 0.3s;
    -ms-transition: -ms-transform 0.3s;
    transition: transform 0.3s;
    padding-bottom: 40px;
  }
  .header__menu.is-opened {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.header__menu-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  font-size: 13px;
  width: 100%;
}
@media screen and (max-width: 759px) {
  .header__menu-wrapper {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    z-index: 100;
  }
}
.header__menu-item {
  padding: 0 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 759px) {
  .header__menu-item {
    width: 100%;
    padding: 10px;
    border-top: 1px solid #f3e9e2;
    text-align: left;
    position: relative;
  }
  .header__menu-item:last-of-type {
    border-bottom: 1px solid #f3e9e2;
  }
  .header__menu-item:after {
    content: '\e909';
    font-family: 'icomoon';
    font-size: 26px;
    color: #836358;
    position: absolute;
    top: 3px;
    right: 20px;
  }
}
.header__menu-link {
  color: #836358;
  -webkit-transition: all 0.175s;
  -moz-transition: all 0.175s;
  -o-transition: all 0.175s;
  -ms-transition: all 0.175s;
  transition: all 0.175s;
  border-bottom: 2px solid transparent;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.header__menu-link:hover,
.header__menu-link:active {
  color: #67473c;
  border-bottom: 2px solid #67473c;
}
@media screen and (max-width: 759px) {
  .header__menu-link {
    width: 100%;
    height: 100%;
    display: inline-block;
    padding-bottom: 0;
  }
  .header__menu-link:hover,
  .header__menu-link:active {
    border-bottom: none;
  }
}
.header__search-btn {
  width: 100%;
  max-width: 18px;
  font-size: 18px;
  margin-left: 30px;
  padding: 0 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #67473c;
  position: relative;
  cursor: pointer;
}
@media screen and (max-width: 1023px) {
  .header__search-btn {
    margin-right: auto;
    margin-top: 20px;
  }
}
@media screen and (max-width: 759px) {
  .header__search-btn {
    display: block;
    position: absolute;
    top: 10px;
    right: 12px;
    margin: 0;
  }
}
.header__search-wrapper {
  display: none;
  position: absolute;
  top: -10px;
  right: -19px;
  width: 315px;
}
.header__search-wrapper:before {
  content: '\e903';
  font-family: 'icomoon';
  font-size: 18px;
  color: #67473c;
  position: absolute;
  right: 15px;
  top: 9px;
}
@media screen and (max-width: 759px) {
  .header__search-wrapper:before {
    right: 6px;
  }
}
@media screen and (max-width: 759px) {
  .header__search-wrapper {
    right: -10px;
  }
}
.header__search-input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  background: #f3e9e2;
  color: #67473c;
  border: none;
  height: 40px;
  padding: 20px 40px 20px 15px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 4px 10px 0px #eae0e5;
  box-shadow: 0px 4px 10px 0px #eae0e5;
}
.header__mobile-menu {
  display: none;
  font-size: 26px;
  line-height: 0;
}
@media screen and (max-width: 759px) {
  .header__mobile-menu {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
  }
}
.header__btn {
  width: 17%;
  margin-left: auto;
}
@media screen and (max-width: 1023px) {
  .header__btn {
    position: absolute;
    top: 0;
    right: 15px;
  }
}
@media screen and (max-width: 759px) {
  .header__btn {
    position: static;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 100%;
    max-width: 187px;
  }
}
.header__close {
  font-size: 18px;
  line-height: 0;
  position: absolute;
  top: 10px;
  right: 10px;
}
.header__mobile-logo {
  width: 100%;
  max-width: 80px;
  margin: 15px auto;
}
.header__mobile-logo-img {
  max-width: 100%;
}
.header_inner .header__slogan,
.header_inner .header__search-btn,
.header_inner .header__close,
.header_inner .header__menu-item:after {
  color: #fff;
}
.header_inner .header__menu-link {
  color: #fff;
}
.header_inner .header__menu-link:hover {
  color: #fff;
  border-bottom: 2px solid #fff;
}
@media screen and (max-width: 759px) {
  .header_inner .header__menu-link {
    border-bottom: none !important;
  }
}
.header_inner .header__menu {
  background: #836358;
}
.header_inner .header__mobile-menu {
  color: #fff;
}
.inline-tabs {
  padding: 15px 0 150px;
}
@media screen and (max-width: 1023px) {
  .inline-tabs {
    padding: 15px 0 75px;
  }
}
.inline-tabs__wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.inline-tabs__nav {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
@media screen and (max-width: 759px) {
  .inline-tabs__nav {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.inline-tabs__btn {
  font-size: 14px;
  padding: 10px 20px;
  color: #67473c;
  -webkit-transition: all 0.175s;
  -moz-transition: all 0.175s;
  -o-transition: all 0.175s;
  -ms-transition: all 0.175s;
  transition: all 0.175s;
  cursor: pointer;
}
.inline-tabs__btn:hover,
.inline-tabs__btn:active {
  background: #f3e9e2;
}
.inline-tabs__content {
  padding: 25px 0;
  width: 100%;
}
@media screen and (max-width: 1023px) {
  .inline-tabs__content .row {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .inline-tabs__content .col-6 {
    width: 100%;
  }
}
.links {
  background: #f3e9e2;
  min-height: 75px;
}
.links__inner {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
@media screen and (max-width: 759px) {
  .links__inner {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.links__wrapper {
  width: 60%;
  padding: 20px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 759px) {
  .links__wrapper {
    width: 100%;
    padding: 10px 0;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
}
.links__item {
  font-size: 13px;
  color: #67473c;
  padding-right: 20px;
  text-decoration: underline;
}
.links__item:hover {
  text-decoration: none;
}
@media screen and (max-width: 1023px) {
  .links__item {
    margin-bottom: 10px;
    display: inline-block;
  }
}
@media screen and (max-width: 759px) {
  .links__item {
    width: 49.5%;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 10px;
  }
}
.links__bg {
  width: 30%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-left: auto;
}
@media screen and (max-width: 759px) {
  .links__bg {
    width: 100%;
    margin-bottom: 10px;
  }
}
.links__bg-inner {
  background: url("../f/i/logo-white.png") center right no-repeat;
  width: 343px;
  height: 75px;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
  position: absolute;
  right: 15px;
  top: -5px;
}
@media screen and (max-width: 1023px) {
  .links__bg-inner {
    display: none;
  }
}
.links__btn {
  width: 100%;
  max-width: 187px;
  z-index: 1;
}
.map__wrapper {
  height: 513px;
  margin-bottom: 60px;
}
@media screen and (max-width: 759px) {
  .map__wrapper {
    height: 250px;
    margin-bottom: 30px;
    border: 1px solid #f3e9e2;
  }
}
.map__logo {
  position: absolute;
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -o-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  left: 15px;
}
@media screen and (max-width: 759px) {
  .map__logo {
    display: none;
  }
}
.map__map {
  margin-left: 136px;
  height: 100%;
}
@media screen and (max-width: 759px) {
  .map__map {
    margin-left: 0;
  }
}
.page {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}
.page__main {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.partners {
  padding: 60px 0;
  border-top: 1px solid #f3e9e2;
  border-bottom: 1px solid #f3e9e2;
}
@media screen and (max-width: 759px) {
  .partners {
    display: none;
  }
}
.partners__slider {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  padding: 0 88px;
}
.partners__slider .slick-list {
  overflow: hidden;
}
.partners__slider .slick-track {
  position: relative;
}
.partners__item {
  display: inline-block;
  margin: 0 15px;
  text-align: center;
}
.partners__img {
  max-width: 100%;
}
.partners__slider-nav {
  width: 55px;
  height: 45px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  border: 1px solid #e5d9d1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  -webkit-transition: all 0.175s;
  -moz-transition: all 0.175s;
  -o-transition: all 0.175s;
  -ms-transition: all 0.175s;
  transition: all 0.175s;
  color: #67473c;
  font-size: 30px;
  cursor: pointer;
}
.partners__slider-nav:hover {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.partners__slider-nav_left {
  position: absolute;
  left: 15px;
  top: 0;
}
.partners__slider-nav_left:before {
  content: '\e908';
  font-family: 'icomoon';
}
.partners__slider-nav_right {
  position: absolute;
  right: 15px;
  top: 0;
}
.partners__slider-nav_right:before {
  content: '\e909';
  font-family: 'icomoon';
}
.phones {
  z-index: 1;
}
.phones__wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  margin-top: -30px;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 30px;
}
@media screen and (max-width: 759px) {
  .phones__wrapper {
    margin-top: 0;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media screen and (max-width: 759px) {
  .phones__wrapper {
    margin: 0;
  }
}
.phones__item {
  width: 31%;
  margin: 0 15px;
  padding: 26px 55px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 5px 10px 0px #efecea;
  box-shadow: 0px 5px 10px 0px #efecea;
  background: #fff;
  text-transform: uppercase;
}
@media screen and (max-width: 1271px) {
  .phones__item {
    padding: 26px;
  }
}
@media screen and (max-width: 1023px) {
  .phones__item {
    padding: 26px 10px;
  }
}
@media screen and (max-width: 759px) {
  .phones__item {
    width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #836358;
    padding: 7px 13px;
    border: 1px solid #f3e9e2;
    border-radius: 2px;
    margin: 0 0 10px 0;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
  }
}
.phones__head {
  font-size: 14px;
  color: #836358;
  margin-bottom: 0;
  text-transform: uppercase;
}
@media screen and (max-width: 759px) {
  .phones__head {
    width: 50%;
    padding: 0 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
  }
}
.phones__phone {
  font-size: 30px;
}
@media screen and (max-width: 1023px) {
  .phones__phone {
    font-size: 20px;
  }
}
@media screen and (max-width: 759px) {
  .phones__phone {
    width: 50%;
    font-size: 14px;
    padding: 0 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: right;
  }
}
.phones__link {
  color: #67473c;
}
@media screen and (max-width: 759px) {
  .phones__link {
    font-size: 14px;
  }
}
.popular {
  padding: 60px 0 20px;
}
@media screen and (max-width: 1023px) {
  .popular {
    padding: 20px 0;
  }
}
.popular__wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-image: url("../f/i/services-popular-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
  min-height: 100px;
}
@media screen and (max-width: 1023px) {
  .popular__wrapper {
    background: #f3e9e2;
    padding: 20px;
  }
  .popular__wrapper .col-4,
  .popular__wrapper .col-8 {
    width: 100%;
  }
  .popular__wrapper .row {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.popular__head {
  font-size: 20px;
  color: #67473c;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (max-width: 1023px) {
  .popular__head {
    margin-bottom: 10px;
  }
}
.popular__links {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.popular__link {
  width: 25%;
  padding: 7.5px 15px 7.5px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  color: #67473c;
  text-decoration: underline;
}
@media screen and (max-width: 1023px) {
  .popular__link {
    display: inline-block;
    padding: 7.5px;
  }
}
@media screen and (max-width: 759px) {
  .popular__link {
    width: 100%;
    font-size: 13px;
  }
}
.popular__link:hover {
  text-decoration: none;
}
.price-table__row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 10px 0 4px;
  border-bottom: 1px solid #f3e9e2;
  width: 100%;
  font-size: 14px;
}
@media screen and (max-width: 759px) {
  .price-table__row {
    font-size: 13px;
    padding: 4px;
    min-height: 30px;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
}
.price-table__name {
  width: 70%;
}
.price-table__value {
  width: 30%;
  text-align: right;
}
.product {
  margin: 15px 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border: 1px solid #f3e9e2;
}
.product__img-wrapper {
  position: relative;
  min-height: 300px;
  width: 100%;
  text-align: center;
}
.product__img {
  max-width: 100%;
}
.product__info {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.product__info:before {
  content: '\e901';
  font-family: 'icomoon';
  font-size: 25px;
  color: #67473c;
}
.product__description {
  background: #f3e9e2;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  min-height: 180px;
}
.product__title {
  font-size: 14px;
  color: #67473c;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.product__props {
  font-size: 14px;
  color: #67473c;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.product__props-item {
  margin-bottom: 3px;
}
.product__bottom {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.product__price {
  font-size: 16px;
}
.product__bottom-right {
  width: 100%;
  max-width: 138px;
}
.product__quantity {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 32px;
  border: 1px solid #67473c;
  border-radius: 2px;
  font-weight: 500;
  width: 100%;
}
.product__quantity-minus,
.product__quantity-plus {
  font-size: 16px;
  color: #67473c;
  text-align: center;
  width: 32%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-transition: all 0.175s;
  -moz-transition: all 0.175s;
  -o-transition: all 0.175s;
  -ms-transition: all 0.175s;
  transition: all 0.175s;
  background: #f3e9e2;
  border: none;
  cursor: pointer;
}
.product__quantity-minus:hover,
.product__quantity-plus:hover {
  color: #fff;
  background: #67473c;
}
.product__quantity-number {
  background: #67473c;
  color: #fff;
  text-align: center;
  width: 36%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.production {
  padding: 60px 0;
}
@media screen and (max-width: 759px) {
  .production {
    padding: 20px 0;
  }
}
.production__head {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 97px;
  color: #836358;
  font-weight: 900;
  text-transform: uppercase;
}
@media screen and (max-width: 1271px) {
  .production__head {
    position: inherit;
  }
}
.production__head-inner {
  -webkit-transform: rotateZ(-90deg) translate(-100%, 0);
  -moz-transform: rotateZ(-90deg) translate(-100%, 0);
  -o-transform: rotateZ(-90deg) translate(-100%, 0);
  -ms-transform: rotateZ(-90deg) translate(-100%, 0);
  transform: rotateZ(-90deg) translate(-100%, 0);
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -o-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
}
@media screen and (max-width: 1271px) {
  .production__head-inner {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
    font-size: 60px;
    padding: 0 15px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 1023px) {
  .production__head-inner {
    font-size: 30px;
    padding: 0;
  }
}
.production__list {
  margin-left: 210px;
}
@media screen and (max-width: 1271px) {
  .production__list {
    margin-left: 0;
  }
}
@media screen and (max-width: 1023px) {
  .production__list {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.production__item {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -o-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  margin-bottom: 30px;
  -webkit-transition: all 0.175s;
  -moz-transition: all 0.175s;
  -o-transition: all 0.175s;
  -ms-transition: all 0.175s;
  transition: all 0.175s;
  border: 1px solid #f3e9e2;
}
@media screen and (max-width: 759px) {
  .production__item {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 10px;
  }
}
.production__item:last-child {
  margin-bottom: 0;
}
.production__item .production__content:hover:after {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.production__img-wrapper {
  width: 263px;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.production__img {
  max-width: 100%;
}
.production__content {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  padding: 30px;
  position: relative;
  background: #f3e9e2;
}
@media screen and (max-width: 1023px) {
  .production__content {
    padding: 20px;
  }
}
.production__content:after {
  content: '\e909';
  font-family: 'icomoon';
  font-size: 33px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 55px;
  height: 45px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  border: 1px solid #e5d9d1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #f9f4f1;
  -webkit-transition: all 0.175s;
  -moz-transition: all 0.175s;
  -o-transition: all 0.175s;
  -ms-transition: all 0.175s;
  transition: all 0.175s;
  color: #67473c;
}
@media screen and (max-width: 759px) {
  .production__content:after {
    top: -45px;
    background: #fff;
  }
}
.production__content-head {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #67473c;
  line-height: 1;
  text-transform: uppercase;
}
@media screen and (max-width: 759px) {
  .production__content-head {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
.production__content-desc {
  font-size: 14px;
  text-transform: uppercase;
  color: #836358;
}
.promo {
  position: relative;
  z-index: 1;
}
.promo__slider {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  margin-top: -72px;
}
@media screen and (max-width: 1023px) {
  .promo__slider {
    margin-top: -112px;
  }
}
@media screen and (max-width: 759px) {
  .promo__slider {
    margin-top: 0;
  }
}
.promo__slider .slick-list {
  overflow: hidden;
}
@media screen and (max-width: 759px) {
  .promo__slider .slick-list {
    padding-bottom: 100px;
  }
}
.promo__slider .slick-track {
  position: relative;
}
.promo__slider-item {
  height: 600px;
  position: relative;
  display: inline-block;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  background-size: auto 100%;
  background-position: center top;
}
@media screen and (max-width: 759px) {
  .promo__slider-item {
    height: auto;
    min-height: 215px;
  }
  .promo__slider-item .container {
    position: static;
  }
}
.promo__slider-content {
  position: absolute;
  top: 10vw;
  max-width: 450px;
}
@media screen and (max-width: 1023px) {
  .promo__slider-content {
    top: 20vw;
  }
}
@media screen and (max-width: 759px) {
  .promo__slider-content {
    top: 100%;
    margin-top: -20px;
    left: 50%;
    margin-left: -150px;
    background: #f3e9e2;
    color: #67473c;
    padding: 15px;
    width: 300px;
    height: 110px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 5px 10px 0px #efecea;
    box-shadow: 0px 5px 10px 0px #efecea;
  }
}
.promo__slider-content_white {
  color: #fff;
}
@media screen and (max-width: 759px) {
  .promo__slider-content_white {
    color: #67473c;
  }
}
.promo__slider-head {
  font-size: 30px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.promo__slider-head span {
  font-weight: 700;
}
@media screen and (max-width: 759px) {
  .promo__slider-head {
    font-size: 18px;
    margin-bottom: 10px;
  }
}
.promo__slider-subhead {
  font-size: 16px;
  margin-bottom: 17px;
}
@media screen and (max-width: 759px) {
  .promo__slider-subhead {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
.promo__slider-img {
  height: 35px;
}
.promo__slider-img img {
  max-height: 100%;
}
.promo__slider-label {
  color: #fff;
  background: #67473c;
  font-size: 14px;
  padding: 8px 12px 7px 10px;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 18px;
  position: relative;
  text-transform: uppercase;
}
@media screen and (max-width: 759px) {
  .promo__slider-label {
    position: absolute;
    top: -26px;
    left: 0;
    padding: 5px 10px;
  }
}
.promo__slider-label:after {
  content: '';
  position: absolute;
  left: 100%;
  top: 0;
  border-bottom: 31px solid #67473c;
  border-right: 10px solid transparent;
}
@media screen and (max-width: 759px) {
  .promo__slider-label:after {
    border-bottom: 26px solid #67473c;
  }
}
.promo__slider-nav-wrapper {
  position: absolute;
  left: 15px;
  bottom: 175px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  z-index: 10;
}
@media screen and (max-width: 759px) {
  .promo__slider-nav-wrapper {
    right: 13px;
    bottom: 134px;
  }
}
.promo__slider-nav {
  position: relative;
  font-size: 34px;
  color: #836358;
  width: 54px;
  height: 42px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  border: 1px solid #e5d9d1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #f9f4f1;
  cursor: pointer;
  -webkit-transition: all 0.175s;
  -moz-transition: all 0.175s;
  -o-transition: all 0.175s;
  -ms-transition: all 0.175s;
  transition: all 0.175s;
}
.promo__slider-nav:hover {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.promo__slider-nav_left:before {
  content: '\e908';
  font-family: 'icomoon';
}
.promo__slider-nav_right {
  margin-left: 10px;
}
.promo__slider-nav_right:before {
  content: '\e909';
  font-family: 'icomoon';
}
.services-works {
  background-image: url("../f/i/services-works-bg.jpg");
  background-position: center top;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1023px) {
  .services-works .col-offset-3 {
    margin-left: 0;
  }
  .services-works .col-9 {
    width: 100%;
  }
}
@media screen and (max-width: 759px) {
  .services-works {
    background: #f3e9e2;
  }
}
.services-works__wrapper {
  position: relative;
  margin: 60px 0 30px;
}
@media screen and (max-width: 759px) {
  .services-works__wrapper {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.services-works__head {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 43px;
  color: #836358;
  text-transform: uppercase;
}
@media screen and (max-width: 759px) {
  .services-works__head {
    position: inherit;
    margin-bottom: 20px;
    text-align: right;
  }
}
.services-works__head-inner {
  -webkit-transform: rotateZ(-90deg) translate(-100%, 0);
  -moz-transform: rotateZ(-90deg) translate(-100%, 0);
  -o-transform: rotateZ(-90deg) translate(-100%, 0);
  -ms-transform: rotateZ(-90deg) translate(-100%, 0);
  transform: rotateZ(-90deg) translate(-100%, 0);
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -o-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
}
@media screen and (max-width: 759px) {
  .services-works__head-inner {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
.services-works__slider {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  margin-left: 12%;
}
.services-works__slider .slick-list {
  overflow: hidden;
}
.services-works__slider .slick-track {
  position: relative;
}
@media screen and (max-width: 1271px) {
  .services-works__slider {
    margin-left: 0;
  }
}
.services-works__item {
  display: inline-block;
}
@media screen and (max-width: 1271px) {
  .services-works__item {
    width: 200px;
  }
}
.services-works__img {
  max-width: 100%;
}
@media screen and (max-width: 1271px) {
  .services-works__img {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px;
  }
}
@media screen and (max-width: 759px) {
  .services-works__img {
    padding: 0 5px;
  }
}
.services-works__slider-nav {
  width: 55px;
  height: 45px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  border: 1px solid #e5d9d1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #f9f4f1;
  -webkit-transition: all 0.175s;
  -moz-transition: all 0.175s;
  -o-transition: all 0.175s;
  -ms-transition: all 0.175s;
  transition: all 0.175s;
  color: #67473c;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: -50px;
}
.services-works__slider-nav:hover {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.services-works__slider-nav_left {
  right: 68px;
}
.services-works__slider-nav_left:before {
  content: '\e908';
  font-family: 'icomoon';
}
.services-works__slider-nav_right {
  right: 0px;
}
.services-works__slider-nav_right:before {
  content: '\e909';
  font-family: 'icomoon';
}
@media screen and (max-width: 1023px) {
  .services .col-3,
  .services .col-4,
  .services .col-6 {
    width: 100%;
  }
}
@media screen and (max-width: 759px) {
  .services {
    padding: 20px 0;
  }
}
.services__head {
  font-size: 97px;
  width: 100%;
  color: #836358;
  font-weight: 900;
  margin-bottom: 30px;
  text-transform: uppercase;
}
@media screen and (max-width: 1271px) {
  .services__head {
    font-size: 60px;
  }
}
@media screen and (max-width: 759px) {
  .services__head {
    font-size: 30px;
    margin-bottom: 15px;
  }
}
.services__item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: auto;
  position: relative;
}
@media screen and (max-width: 759px) {
  .services__item {
    margin-bottom: 20px;
  }
}
.services__item.services__is-link:after {
  content: '\e909';
  font-family: 'icomoon';
  font-size: 38px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 75px;
  height: 47px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  border: 1px solid #e5d9d1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #f9f4f1;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  -webkit-transition: all 0.175s;
  -moz-transition: all 0.175s;
  -o-transition: all 0.175s;
  -ms-transition: all 0.175s;
  transition: all 0.175s;
  color: #67473c;
}
.services__item-head {
  font-size: 20px;
  margin-bottom: 15px;
  width: 100%;
  text-transform: uppercase;
  min-height: 48px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: end;
  -moz-box-align: end;
  -o-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
@media screen and (max-width: 1023px) {
  .services__item-head {
    font-size: 18px;
    min-height: inherit;
  }
}
@media screen and (max-width: 759px) {
  .services__item-head {
    margin-bottom: 10px;
  }
}
.services__item-link {
  width: 100%;
  height: 100%;
  color: #67473c;
}
.services__item-link .services__item-inner:hover {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.services__item-link .services__item-inner:hover:after {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.services__menu {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  width: 100%;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 25px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
@media screen and (max-width: 759px) {
  .services__menu {
    padding: 20px;
  }
}
.services__menu-item {
  font-size: 14px;
  width: 100%;
  color: #67473c;
}
.services__menu-item:hover {
  text-decoration: underline;
}
.services__item-inner {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  width: 100%;
  height: 240px;
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
  border: 1px solid #f3e9e2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 1023px) {
  .services__item-inner {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }
}
@media screen and (max-width: 479px) {
  .services__item-inner {
    height: 120px;
  }
}
@media screen and (max-width: 759px) {
  .services__item-menu {
    height: 240px;
  }
}
.stuff {
  padding: 60px 0;
}
.stuff__slider {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  position: relative;
}
@media screen and (max-width: 759px) {
  .stuff__slider {
    padding-bottom: 60px;
  }
}
.stuff__slider .slick-list {
  overflow: hidden;
}
.stuff__slider .slick-track {
  position: relative;
}
.stuff__slider-img {
  max-width: 100%;
}
@media screen and (max-width: 759px) {
  .stuff__slider-img {
    width: 100%;
  }
}
.stuff__slider-item {
  display: inline-block;
}
.stuff__slider-nav {
  width: 55px;
  height: 45px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  border: 1px solid #e5d9d1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #f9f4f1;
  -webkit-transition: all 0.175s;
  -moz-transition: all 0.175s;
  -o-transition: all 0.175s;
  -ms-transition: all 0.175s;
  transition: all 0.175s;
  color: #67473c;
  font-size: 30px;
  cursor: pointer;
  z-index: 1;
  bottom: -50px;
  position: absolute;
}
@media screen and (max-width: 759px) {
  .stuff__slider-nav {
    bottom: 10px;
  }
}
.stuff__slider-nav:hover {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.stuff__slider-nav_left {
  right: 65px;
}
.stuff__slider-nav_left:before {
  content: '\e908';
  font-family: 'icomoon';
}
.stuff__slider-nav_right {
  right: 0;
}
.stuff__slider-nav_right:before {
  content: '\e909';
  font-family: 'icomoon';
}
.team {
  background-image: url("../f/i/about-bg.jpg");
  background-position: center top;
  -webkit-background-size: auto 500px;
  -moz-background-size: auto 500px;
  background-size: auto 500px;
  background-repeat: no-repeat;
}
@media screen and (max-width: 759px) {
  .team {
    background: #f3e9e2;
  }
  .team .col-3,
  .team .col-9 {
    width: 100%;
  }
  .team .row {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.team__slider {
  margin-top: 60px;
}
.team__slider-inner {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.team__slider-inner .slick-list {
  overflow: hidden;
}
.team__slider-inner .slick-track {
  position: relative;
}
.team__slider-item {
  display: inline-block;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
  text-align: center;
}
.team__slider-img {
  max-width: 100%;
}
.team__slider-head {
  font-size: 20px;
  color: #67473c;
  margin-top: 15px;
  text-transform: uppercase;
}
@media screen and (max-width: 1271px) {
  .team__slider-head {
    font-size: 18px;
  }
}
.team__slider-nav {
  width: 55px;
  height: 45px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  border: 1px solid #e5d9d1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #f9f4f1;
  -webkit-transition: all 0.175s;
  -moz-transition: all 0.175s;
  -o-transition: all 0.175s;
  -ms-transition: all 0.175s;
  transition: all 0.175s;
  color: #67473c;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: -55px;
}
.team__slider-nav:hover {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.team__slider-nav_left {
  right: 75px;
}
.team__slider-nav_left:before {
  content: '\e908';
  font-family: 'icomoon';
}
.team__slider-nav_right {
  right: 15px;
}
.team__slider-nav_right:before {
  content: '\e909';
  font-family: 'icomoon';
}
.team__post {
  margin-top: 10px;
  font-size: 14px;
}
.team__slider-btns {
  margin: 20px 0;
  text-align: center;
  font-size: 0;
}
.team__slider-btn {
  width: calc(50% - 8px);
  vertical-align: top;
  display: inline-block;
}
.team__slider-btn:last-child {
  margin-left: 15px;
}
.team__head {
  font-size: 30px;
  margin-bottom: 20px;
  color: #67473c;
  text-transform: uppercase;
}
@media screen and (max-width: 759px) {
  .team__head {
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 10px;
  }
}
.team__menu {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.team__menu-item {
  padding-bottom: 10px;
  border-bottom: 2px solid transparent;
  margin-bottom: 15px;
  -webkit-transition: all 0.175s;
  -moz-transition: all 0.175s;
  -o-transition: all 0.175s;
  -ms-transition: all 0.175s;
  transition: all 0.175s;
}
@media screen and (max-width: 759px) {
  .team__menu-item {
    margin-bottom: 10px;
    padding-bottom: 0;
  }
}
.team__menu-item:last-child {
  margin-bottom: 0;
}
.team__menu-item:hover,
.team__menu-item:active {
  border-bottom: 2px solid #67473c;
}
.team__menu-link {
  font-size: 20px;
  text-transform: uppercase;
  color: #67473c;
}
@media screen and (max-width: 1023px) {
  .team__menu-link {
    font-size: 18px;
  }
}
@media screen and (max-width: 759px) {
  .team__menu-link {
    font-size: 14px;
  }
}
.text__head {
  color: #67473c;
  font-size: 20px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.text__content {
  font-size: 14px;
  color: #836358;
}
.text__content p {
  margin-bottom: 15px;
}
.vacancy {
  padding: 60px 0;
}
@media screen and (max-width: 759px) {
  .vacancy {
    padding: 20px 0;
  }
}
.vacancy__wrapper {
  background-image: url("../f/i/about-banner.jpg");
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center top;
}
@media screen and (max-width: 1023px) {
  .vacancy__wrapper {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: 50%;
  }
  .vacancy__wrapper .col-offset-7 {
    margin-left: 50%;
  }
  .vacancy__wrapper .col-5 {
    width: 50%;
  }
}
@media screen and (max-width: 759px) {
  .vacancy__wrapper {
    background-position: 100%;
  }
  .vacancy__wrapper .col-offset-7 {
    margin-left: 0;
  }
  .vacancy__wrapper .col-5 {
    width: 100%;
  }
}
.vacancy__inner {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  min-height: 359px;
  max-width: 315px;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media screen and (max-width: 759px) {
  .vacancy__inner {
    max-width: 80%;
    margin: 0 auto;
  }
}
.vacancy__head {
  font-size: 30px;
  color: #67473c;
  margin-bottom: 20px;
  text-transform: uppercase;
  width: 100%;
}
@media screen and (max-width: 759px) {
  .vacancy__head {
    font-size: 18px;
  }
}
.vacancy__content {
  font-size: 14px;
  width: 100%;
}
.vacancy__content p {
  margin-bottom: 15px;
}
.worker {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  margin-bottom: 15px;
}
.worker:last-of-type {
  margin-bottom: 0;
}
.worker__img-wrapper {
  font-size: 0;
  width: 100px;
}
.worker__img {
  max-width: 100%;
}
.worker__info {
  border: 1px solid #f3e9e2;
  border-left: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  padding: 8px 10px;
}
.worker__head {
  text-transform: uppercase;
  font-size: 16px;
  color: #67473c;
  margin-bottom: 5px;
}
.worker__post {
  font-size: 14px;
  color: #67473c;
}
.worker__btns {
  margin-top: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.worker__btn {
  width: 100%;
  max-width: 125px;
  margin: 0 5px;
}
@media screen and (max-width: 759px) {
  .workers {
    display: none;
  }
}
.workers__slider {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.workers__slider .slick-list {
  overflow: hidden;
}
.workers__slider .slick-track {
  position: relative;
}
.workers__slider-nav {
  width: 55px;
  height: 45px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  border: 1px solid #e5d9d1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #f9f4f1;
  -webkit-transition: all 0.175s;
  -moz-transition: all 0.175s;
  -o-transition: all 0.175s;
  -ms-transition: all 0.175s;
  transition: all 0.175s;
  color: #67473c;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  bottom: -65px;
}
.workers__slider-nav:hover {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.workers__slider-nav_left {
  right: 65px;
}
.workers__slider-nav_left:before {
  content: '\e908';
  font-family: 'icomoon';
}
.workers__slider-nav_right {
  right: 0px;
}
.workers__slider-nav_right:before {
  content: '\e909';
  font-family: 'icomoon';
}
.workers__inner {
  display: inline-block;
}
@media screen and (max-width: 759px) {
  .workers__wrapper .row {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .workers__wrapper .col-6 {
    width: 100%;
  }
}
.works {
  background: url("../f/i/works-bg-lines.svg") center top no-repeat, #f3e9e2;
  margin-top: 40px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  padding: 45px 0;
}
@media screen and (max-width: 759px) {
  .works {
    margin-top: 20px;
  }
}
.works__wrapper {
  margin-left: -15px;
  margin-right: -15px;
}
@media screen and (max-width: 759px) {
  .works__wrapper {
    max-width: 100%;
  }
}
.works__head {
  position: absolute;
  left: 0;
  top: 15px;
  font-size: 97px;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
}
@media screen and (max-width: 1271px) {
  .works__head {
    position: inherit;
    font-size: 60px;
  }
}
.works__head-inner {
  -webkit-transform: rotateZ(-90deg) translate(-100%, 0);
  -moz-transform: rotateZ(-90deg) translate(-100%, 0);
  -o-transform: rotateZ(-90deg) translate(-100%, 0);
  -ms-transform: rotateZ(-90deg) translate(-100%, 0);
  transform: rotateZ(-90deg) translate(-100%, 0);
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -o-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  text-transform: uppercase;
}
@media screen and (max-width: 1271px) {
  .works__head-inner {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
    padding: 0 15px;
  }
}
.works__slider {
  margin-left: 195px;
}
@media screen and (max-width: 1271px) {
  .works__slider {
    margin-left: 0;
  }
}
.works__slider .slick-list {
  overflow: hidden;
}
.works__slider-inner {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.works__slider-inner .slick-track {
  position: relative;
}
.works__slider-list {
  display: inline-block;
}
.works__wrapper_left {
  width: 40%;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.works__wrapper_left .works__item_large {
  width: 100%;
  height: 390px;
}
.works__wrapper_right {
  width: 60%;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.works__wrapper_right .works__item_small {
  width: 33.333333333333336%;
  height: 195px;
}
.works__item {
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.works__img {
  max-width: 100%;
}
@media screen and (max-width: 759px) {
  .works__img {
    width: 200px;
    padding: 5px;
  }
}
.works__slider-nav {
  width: 55px;
  height: 45px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  border: 1px solid #e5d9d1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #f9f4f1;
  -webkit-transition: all 0.175s;
  -moz-transition: all 0.175s;
  -o-transition: all 0.175s;
  -ms-transition: all 0.175s;
  transition: all 0.175s;
  color: #67473c;
  font-size: 30px;
  cursor: pointer;
  z-index: 1;
}
.works__slider-nav:hover {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.works__slider-nav_left {
  position: absolute;
  right: 80px;
  bottom: 0;
}
@media screen and (max-width: 1271px) {
  .works__slider-nav_left {
    right: 85px;
  }
}
@media screen and (max-width: 759px) {
  .works__slider-nav_left {
    top: 0;
    right: 65px;
  }
}
.works__slider-nav_left:before {
  content: '\e908';
  font-family: 'icomoon';
}
.works__slider-nav_right {
  position: absolute;
  right: 15px;
  bottom: 0;
}
@media screen and (max-width: 1271px) {
  .works__slider-nav_right {
    right: 20px;
  }
}
@media screen and (max-width: 759px) {
  .works__slider-nav_right {
    top: 0;
    right: 0;
  }
}
.works__slider-nav_right:before {
  content: '\e909';
  font-family: 'icomoon';
}
.works__subscribe {
  margin-top: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-size: 14px;
  color: #67473c;
  padding-right: 145px;
  margin-left: 195px;
  padding-left: 15px;
  position: relative;
}
@media screen and (max-width: 1271px) {
  .works__subscribe {
    margin-left: 0;
  }
}
@media screen and (max-width: 759px) {
  .works__subscribe {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
    margin-left: 10px;
  }
}
.works__subscribe-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 40px;
  width: 100%;
  max-width: 180px;
}
.works__subscribe-wrapper:hover .works__subscribe-head,
.works__subscribe-wrapper:hover .works__subscribe-subs {
  text-decoration: underline;
}
@media screen and (max-width: 759px) {
  .works__subscribe-wrapper {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.works__subscribe-logo {
  margin-right: 10px;
  width: 42px;
  height: 42px;
  background: url("../f/i/works-insta-logo.png") center center no-repeat;
}
.works__subscribe-head {
  margin-bottom: 5px;
  color: #67473c;
}
.works__subscribe-subs {
  color: #67473c;
}
@media screen and (max-width: 759px) {
  .works__subscribe-subs {
    font-size: 12px;
  }
}
body {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  color: #67473c;
}
