@font-face
	font-family 'Roboto'
	src local('../f/fonts/Roboto Thin'),
		local('../f/fonts/Roboto-Thin'),
		url('../f/fonts/Robotothin.woff2') format('woff2'),
		url('../f/fonts/Robotothin.woff') format('woff'),
		url('../f/fonts/Robotothin.ttf') format('truetype')
	font-weight 100
	font-style normal

@font-face
	font-family 'Roboto'
	src local('../f/fonts/Roboto Thin Italic'),
		local('../f/fonts/Roboto-ThinItalic'),
		url('../f/fonts/Robotothinitalic.woff2') format('woff2'),
		url('../f/fonts/Robotothinitalic.woff') format('woff'),x
		url('../f/fonts/Robotothinitalic.ttf') format('truetype')
	font-weight 100
	font-style italic

@font-face
	font-family 'Roboto'
	src local('../f/fonts/Roboto Light'),
		local('../f/fonts/Roboto-Light'),
		url('../f/fonts/Robotolight.woff2') format('woff2'),
		url('../f/fonts/Robotolight.woff') format('woff'),
		url('../f/fonts/Robotolight.ttf') format('truetype')
	font-weight 300
	font-style normal

@font-face
	font-family 'Roboto'
	src local('../f/fonts/Roboto Light Italic'),
		local('../f/fonts/Roboto-LightItalic'),
		url('../f/fonts/Robotolightitalic.woff2') format('woff2'),
		url('../f/fonts/Robotolightitalic.woff') format('woff'),
		url('../f/fonts/Robotolightitalic.ttf') format('truetype')
	font-weight 300
	font-style italic

@font-face
	font-family 'Roboto'
	src local('../f/fonts/Roboto'),
		local('../f/fonts/Roboto-Regular'),
		url('../f/fonts/Roboto.woff2') format('woff2'),
		url('../f/fonts/Roboto.woff') format('woff'),
		url('../f/fonts/Roboto.ttf') format('truetype')
	font-weight 400
	font-style normal

@font-face
	font-family 'Roboto'
	src local('../f/fonts/Roboto Italic'),
		local('../f/fonts/Roboto-Italic'),
		url('../f/fonts/Robotoitalic.woff2') format('woff2'),
		url('../f/fonts/Robotoitalic.woff') format('woff'),
		url('../f/fonts/Robotoitalic.ttf') format('truetype')
	font-weight 400
	font-style italic

@font-face
	font-family 'Roboto'
	src local('../f/fonts/Roboto Medium'),
		local('../f/fonts/Roboto-Medium'),
		url('../f/fonts/Robotomedium.woff2') format('woff2'),
		url('../f/fonts/Robotomedium.woff') format('woff'),
		url('../f/fonts/Robotomedium.ttf') format('truetype')
	font-weight 500
	font-style normal

@font-face
	font-family 'Roboto'
	src local('../f/fonts/Roboto Medium Italic'),
		local('../f/fonts/Roboto-MediumItalic'),
		url('../f/fonts/Robotomediumitalic.woff2') format('woff2'),
		url('../f/fonts/Robotomediumitalic.woff') format('woff'),
		url('../f/fonts/Robotomediumitalic.ttf') format('truetype')
	font-weight 500
	font-style italic

@font-face
	font-family 'Roboto'
	src local('../f/fonts/Roboto Bold'),
		local('../f/fonts/Roboto-Bold'),
		url('../f/fonts/Robotobold.woff2') format('woff2'),
		url('../f/fonts/Robotobold.woff') format('woff'),
		url('../f/fonts/Robotobold.ttf') format('truetype')
	font-weight 700
	font-style normal

@font-face
	font-family 'Roboto'
	src local('../f/fonts/Roboto Bold Italic'),
		local('../f/fonts/Roboto-BoldItalic'),
		url('../f/fonts/Robotobolditalic.woff2') format('woff2'),
		url('../f/fonts/Robotobolditalic.woff') format('woff'),
		url('../f/fonts/Robotobolditalic.ttf') format('truetype')
	font-weight 700
	font-style italic

@font-face
	font-family 'Roboto'
	src local('../f/fonts/Roboto Black'),
		local('../f/fonts/Roboto-Black'),
		url('../f/fonts/Robotoblack.woff2') format('woff2'),
		url('../f/fonts/Robotoblack.woff') format('woff'),
		url('../f/fonts/Robotoblack.ttf') format('truetype')
	font-weight 900
	font-style normal

@font-face
	font-family 'Roboto'
	src local('../f/fonts/Roboto Black Italic'),
		local('../f/fonts/Roboto-BlackItalic'),
		url('../f/fonts/Robotoblackitalic.woff2') format('woff2'),
		url('../f/fonts/Robotoblackitalic.woff') format('woff'),
		url('../f/fonts/Robotoblackitalic.ttf') format('truetype')
	font-weight 900
	font-style italic

