placeholder()
	placeholder-prefixes ?= ':-webkit-input-' '-moz-' ':-moz-' '-ms-' '-ms-input-'
	for prefix in placeholder-prefixes
		&:{unquote(prefix)}placeholder
			{block}

transitionLetters(shift)
	for i in (1..30)
		&:nth-child({i})
			transition all .2s (i * shift)s

for $n in (1..12)
	.col-{$n}
		width (100%/12) * $n
for $n in (1..12)
	.col-t-{$n}
		@media $tablet
			width (100%/12) * $n
for $n in (1..12)
	.col-p-{$n}
		@media $phone
			width (100%/12) * $n


for $n in (0..12)
	.col-offset-{$n}
		margin-left (100%/12) * $n
for $n in (0..12)
	.col-offset-t-{$n}
		@media $tablet
			margin-left (100%/12) * $n
for $n in (0..12)
	.col-offset-p-{$n}
		@media $phone
			margin-left (100%/12) * $n

