@import 'nib'
@import 'variables'
@import 'mixins'
@import 'fonts'
global-reset()
@import './blocks/*'

body
	font-family 'Roboto'
	font-weight 400
	font-style normal
	line-height 1.2
	color $darkBrown
