$lightBrown = #836358
$darkBrown = #67473c


//media
$desktop = 'screen and (max-width 1440px)'
$laptop = 'screen and (max-width 1271px)'//1024
$tablet = 'screen and (max-width 1023px)'//760
$phone = 'screen and (max-width 759px)'//320
$smallPhone = 'screen and (max-width 479px)'

$onlyWide = 'screen and (min-width 1024px)'
$onlyNarrow = 'screen and (max-width 1023px)'

$onlyDesktop = 'screen and (min-width 1272px)'
$onlyLaptop = 'screen and (min-width 1024px) and (max-width 1271px)'
$onlyTablet = 'screen and (min-width 760px) and (max-width 1023px)'

$noTablet = 'screen and (min-width 1024px)'
$noPhone = 'screen and (min-width 760px)'

.no-phone
	display block
	@media $phone
		display none

.only-phone
	display none
	@media $phone
		display block

.container
	width 100%
	max-width 1170px
	margin 0 auto
	box-sizing border-box
	padding 0 15px
	position relative
	@media $phone
		padding 0 10px

.row
	margin-left -15px
	margin-right -15px
	display flex
	flex-wrap wrap
	width calc(100% + 30px)
	@media $phone
		width calc(100% + 20px)
		margin-left -10px
		margin-right -10px

.row_middle
	align-items center

// .row_wrap
// 	flex-wrap wrap

.col
	padding-left 15px
	padding-right 15px
	box-sizing border-box
	@media $phone
		padding-right 10px
		padding-left 10px

*:focus
	outline:none

a
	text-decoration none

//btns start
.btn
	width 100%
	max-width 187px
	border-radius 2px
	color #fff
	background $darkBrown
	font-size 14px
	display inline-block
	line-height 32px
	height 32px
	cursor pointer
	text-align center
	font-weight 500
	font-style normal
	transition all 0.175s
	border 1px solid transparent
	text-transform uppercase
	box-sizing border-box
	&:hover
		background #fff
		border 1px solid $darkBrown
		color $darkBrown

.btn_invert
	background #fff
	border 1px solid $darkBrown
	color $darkBrown
	&:hover
		background $darkBrown
		border 1px solid $darkBrown
		color #fff

.btn_inner
	background #ad968d
	border 1px solid #fff
	color #fff
	&:hover
		background #fff
		border 1px solid #ad968d
		color #ad968d
//end btns

section
	position relative

.checkbox
	vertical-align top
	width 24px
	height 24px
	margin 0
	&:not(checked)
		position absolute
		opacity 0
	&:not(checked) + label
		position relative
		display block
		padding 0 0 0 25px
	&:not(checked) + label:before
		content ''
		position absolute
		top 0px
		left 0px
		width 15px
		height 15px
		background #f3e9e2
		border-radius 2px
		border 2px solid transparent
		box-sizing border-box
		cursor pointer
	&:not(checked) + label:after
		// font-size 24px
		// font-weight bold
		position absolute
		left 0px
		top 0px
		cursor pointer
		// line-height: 1.2
		// color #fff
	&:checked + label:after
		content ''
		background $darkBrown
		border 2px solid #f3e9e2
		width 15px
		height 15px
		border-radius 2px
		display block
		box-sizing border-box