.about
	padding 60px 0 120px 0
	@media $tablet
		padding 20px 0 20px
	@media $phone
		.col-6
			width 100%
		.row
			flex-wrap wrap
	&__slider
		height 360px
		position relative
		padding 0 15px
		box-sizing border-box
		.slick-list
			overflow hidden
		.slick-track
			position relative
		@media $tablet
			height auto
		@media $phone
			padding 0
	&__slider-nav
		width 55px
		height 45px
		display flex
		align-items center
		justify-content center
		border 1px solid #e5d9d1
		box-sizing border-box
		background #f9f4f1
		transition all 0.175s
		color $darkBrown
		font-size 30px
		cursor pointer
		z-index 1
		bottom -74px
		position absolute
		&:hover
			opacity 0.8
		@media $phone
			bottom -54px
	&__slider-nav_left
		right 78px
		@media $phone
			right 64px
		&:before
			content '\e908'
			font-family 'icomoon'
	&__slider-nav_right
		right 14px
		@media $phone
			right 0
		&:before
			content '\e909'
			font-family 'icomoon'
	&__slider-item
		display inline-block
		width 100%
	&__slider-img
		max-width 100%
		@media $phone
			width 100%
	&__head
		margin-bottom 20px
		font-size 30px
		text-transform uppercase
		color $darkBrown
		@media $phone
			font-size 18px
			margin 10px 0
	&__description
		font-size 14px
		p
			margin-bottom 15px
	&__btn
		margin-top 30px
	&__content
		@media $phone
			margin-top 60px