//form start
.b-form
	width 100%
	max-width 375px
	box-sizing border-box
	background #8e6e67
	opacity 0.95
	padding 15px 30px
	position absolute
	min-height 0
	right 0px
	top 0
	&__overlay
		display none
		position fixed
		left 0
		top 0
		width 100%
		width 100vw
		height 100%
		height 100vh
		z-index 200
		overflow auto
	&__close
		top 25px
		right 15px
		cursor pointer
		position absolute
		&:before
			content '\e90d'
			color #fff
			transition all 0.175s
			font-family 'icomoon'
	&__head
		font-size 20px
		text-transform uppercase
		color #fff
		margin 10px 0
	&__wrapper
		margin-top 10px
	&__field
		display inline-block
		vertical-align top
		width 100%
		margin-bottom 15px
		position relative
	&__field-head
		font-size 16px
		color #fff
		margin-bottom 10px
	&__input-wrapper
		position relative
		.datepicker
			top 50px !important
			left 0 !important
	&__select-input
		white-space nowrap
		text-overflow ellipsis
		overflow hidden
	&__input,
	&__select-input
		padding 10px 40px 10px 10px
		box-sizing border-box
		background #f3e9e2
		width 100%
		border-radius 3px
		border none
		font-size 16px
		color $darkBrown
		position relative
		height 40px
		+placeholder()
			font-size 16px
			color $darkBrown
	&__select-input
		&:before
			content '\e90e'
			font-family 'icomoon'
			font-size 18px
			display flex
			align-items center
			justify-content center
			background $darkBrown
			position absolute
			color #f3e9e2
			top 1px
			right 1px
			width 38px
			height 38px
			cursor pointer
	&__select-list
		display none
		position absolute
		z-index 10
	&__select-inner
		display flex
		flex-wrap wrap
		width 100%
		color #darkBrown
	&__select-item
		width 100%
		padding 10px
		color $darkBrown
		border-bottom 1px solid $lightBrown
		background #f3e9e2
		cursor pointer
	&__add
		margin 15px 0
		position relative
		cursor pointer
		&:before
			width 19px
			height 19px
			content '\e907'
			font-family 'icomoon'
			background #8e6e67
			color #f3e9e2
			display flex
			align-items center
			justify-content center
			position absolute
			font-size 19px
	&__add-head
		padding-left 30px
		color #fff
	&__date
		.b-form__input-wrapper
			&:before
				content '\e90b'
				font-family 'icomoon'
				font-size 18px
				display flex
				align-items center
				justify-content center
				background $darkBrown
				position absolute
				color #f3e9e2
				top 1px
				right 1px
				width 38px
				height 38px
				cursor pointer
				z-index 1
	&__policy
		margin 15px 0 30px
		font-size 14px
		color #fff
	&__policy-link
		color #fff
		text-decoration underline
		&:hover
			text-decoration none
	&__btn
		text-align center
		margin-bottom 50px
	&__response
		color #fff
		font-size 14px
	&__order
		font-size 14px
		color #fff
		margin-bottom 30px
	&__order-item
		padding 20px 0
		border-bottom 1px solid #a18980
	&__order-head
		margin-bottom 15px
	&__order-bottom
		display flex
		width 100%
	&__order-price
	&__order-delete
		display inline-block
		vertical-align middle
		width 50%
	&__order-price
		text-align left
		padding-right 5px
		box-sizing border-box
	&__order-delete
		text-align right
		text-decoration underline
		cursor pointer
		padding-left 5px
		box-sizing border-box
		&:hover
			text-decoration none
	&__order-total
		font-weight 500
		text-align right
		text-transform uppercase
//form ends