//b-popup-policy start
.b-policy
	background #fff
	opacity 0.8
	position absolute
	min-height 0
	width 615px
	max-width 100%
	left 50%
	top 50%
	transform translate(-50%, -50%)
	border-radius 2px
	border 1px solid #e7dadd
	padding 20px 15px 40px 15px
	box-sizing border-box
	color $darkBrown
	box-shadow 0px 4px 10px 2px #eae0e5
	&__overlay
		display none
		background rgba(253, 253, 253, 0.8)
		position fixed
		left 0
		top 0
		width 100%
		width 100vw
		height 100%
		height 100vh
		z-index 550
		overflow auto
	&__close
		top 20px
		right 15px
		cursor pointer
		position absolute
		&:hover:before
			color $lightBrown
		&:before
			content '\e90d'
			color $darkBrown
			transition all 0.175s
			font-family 'icomoon'
	&__head
		text-transform uppercase
		margin 20px 0 15px 15px
		font-size 20px
	&__content
		color $lightBrown
		font-size 14px
		height 225px
		overflow hidden
		box-sizing border-box
		padding 0 25px 0 15px !important
		p
			margin-bottom 10px
//b-policy ends