//start banner
.banner
	background-position center top
	background-size auto 100%
	margin-top -72px
	@media $tablet
		margin-top -112px
	@media $phone
		background-position 60% bottom
	&__inner
		height 300px
		display flex
		flex-direction column
		justify-content flex-end
	&__title
		font-size 97px
		font-weight 900
		text-transform uppercase
		color #fff
		margin-bottom 30px
		@media $laptop
			font-size 60px
		@media $phone
			font-size 30px
			margin-bottom 15px
//end banner