.cart
	width 23%
	text-align right
	color $lightBrown
	display flex
	align-items center
	justify-content flex-end
	@media $phone
		width 100%
		order 1
	&__note
		text-transform uppercase
		margin-right 20px
		font-size 14px
	&__amount
		display block
		margin-top 5px
		width 100%
		text-transform lowercase
	&__img
		font-size 28px
