//start contacts
.contacts
	padding 60px 0 25px 0
	color $darkBrown
	margin-bottom 30px
	@media $tablet
		.col-3
			width 50%
	@media $phone
		padding-top 20px
		.col-3
			width 100%
	&__head
		font-size 97px
		font-weight 900
		color $darkBrown
		margin-bottom 30px
		text-transform uppercase
		@media $laptop
			font-size 60px
			margin-bottom 15px
		@media $phone
			font-size 30px
			margin-bottom 25px
	&__item
		padding 0 15px
		box-sizing border-box
		@media $tablet
			margin-bottom 20px
		@media $phone
			padding-left 0
	&__item-link
		color $darkBrown
		&:hover
			text-decoration underline
	&__item-row
		margin-bottom 15px
		font-size 14px
		position relative
		padding-left 25px
		display flex
		align-items center
		@media $phone
			margin-bottom 10px
		&_head
			font-size 20px
			padding-left 0
			text-transform uppercase
			@media $phone
				font-size 18px
		&_adress
			&:before
				font-size 15px
				position absolute
				left 0
				content '\e900'
				font-family 'icomoon'
				color $darkBrown
		&_phone
			&:before
				font-size 15px
				position absolute
				left 0
				content '\e905'
				font-family 'icomoon'
				color $darkBrown
		&_time
			&:before
				font-size 15px
				position absolute
				left 0
				content '\e906'
				font-family 'icomoon'
				color $darkBrown
		&_insta
			.contacts__item-link
				text-decoration underline
				@media $phone
					display none
				&:hover
					text-decoration none
			&:before
				font-size 15px
				position absolute
				left 0
				content '\e902'
				font-family 'icomoon'
				color $darkBrown
				@media $phone
					font-size 37px
					top 0px
		&_fb
			.contacts__item-link
				text-decoration underline
				@media $phone
					display none
				&:hover
					text-decoration none
			&:before
				font-size 15px
				position absolute
				left 0
				content '\e90f'
				font-family 'icomoon'
				color $darkBrown
				@media $phone
					font-size 37px
					top -10px
					left 50px
	&__btn
		width 100%
		max-width 187px
//end contacts