.content
	padding 60px 0
	@media $phone
		padding 20px 0
	&__wrapper
		display flex
		@media $tablet
			flex-direction column
	&__left
		width 22%
		@media $tablet
			width 100%
			margin-bottom 20px
	&__menu
		background #fbf7f4
	&__menu-item
		width 100%
		padding 18px 30px
		box-sizing border-box
		transition all 0.175s
		&:hover
		&:active
			background #f3e9e2
		@media $phone
			padding 9px 15px
	&__menu-link
		color $darkBrown
		font-size 14px
	&__right
		width 74%
		margin-left auto
		@media $tablet
			width 100%
			margin-left 0
	&__header
		width 100%
		display flex
		border-bottom 2px solid #f3e9e2
		padding-bottom 15px
		@media $phone
			flex-direction column
	&__title
		font-size 30px
		color $darkBrown
		text-transform uppercase
		width 77%
		@media $phone
			width 100%
			font-size 18px
			order 2
			margin-top 10px
	&__body
		@media $tablet
			.col-4
				width 50%
		@media $phone
			.col-4
				width 100%