//start footer
.footer
	padding 20px 0
	background $darkBrown
	color #f3e9e2
	@media $phone
		padding 10px 0
	&__wrapper
		display flex
		align-items center
		font-size 13px
		@media $tablet
			flex-wrap wrap
		@media $phone
			flex-direction column
	&__logo
		width 17%
		display flex
		@media $tablet
			width 30%
		@media $phone
			width 100%
			justify-content center
	&__logo-img-wrapper
		width 100%
		max-width 180px
		margin-right 15px
		@media $phone
			margin-right 0
	&__logo-img
		max-width 100%
	&__slogan
		font-size 12px
		text-transform uppercase
		width 12%
		padding 0 5px
		box-sizing border-box
		@media $tablet
			width 20%
			margin-right auto
		@media $phone
			display none
	&__social
		width 7%
		padding 0 5px
		box-sizing border-box
		@media $laptop
			width 6%
		@media $tablet
			width 20%
			display flex
		@media $phone
			display none
	&__social-link
		font-size 18px
		color #f3e9e2
		max-width 18px
		margin 0 auto
		display block
		@media $tablet
			font-size 36px
		@media $phone
			display none
	&__menu
		display flex
		align-items center
		justify-content center
		font-size 13px
		width 43%
		padding 0 5px
		box-sizing border-box
		@media $laptop
			width 40%
		@media $tablet
			width 60%
			margin-top 15px
			justify-content flex-start
		@media $phone
			display none
	&__menu-link
		color #f3e9e2
		text-transform uppercase
		margin 0 10px
		@media $tablet
			margin 0 20px 0 0
		&:hover
			text-decoration underline
	&__right
		text-align right
		width 22%
		padding-left 5px
		box-sizing border-box
		@media $laptop
			width 25%
		@media $tablet
			width 40%
			margin-top 15px
		@media $phone
			width 100%
			margin-top 10px
			padding 0
			text-align center
	&__policy
		color #f3e9e2
		display inline-block
		margin-bottom 10px
		cursor pointer
		text-decoration underline
		&:hover
			text-decoration none
//footer end