// start-header
.header
	z-index 5
	position relative
	&__wrapper
		display flex
		margin 15px 0
		align-items center
		justify-content space-between
		@media $tablet
			flex-wrap wrap
		@media $phone
			text-align center
			margin 5px 0
	&__logo
		display flex
		width 17%
		max-width 180px
		align-items center
		@media $tablet
			width 30%
		@media $phone
			width 100%
			margin auto
	&__logo-img
		max-width 100%
	&__slogan
		color $lightBrown
		font-size 12px
		margin-left 15px
		width 11%
		margin-right auto
		text-transform uppercase
		@media $tablet
			width 21%
			margin-right auto
		@media $phone
			display none
	&__menu
		width 34%
		display flex
		align-items center
		justify-content center
		padding 0 5px
		box-sizing border-box
		@media $tablet
			width 60%
			margin-top 15px
		@media $phone
			width 100%
			position absolute
			top -20px
			z-index 1
			left 0
			// display none
			transform translate(-100%, 0)
			background #faf9f9
			flex-direction column
			transition transform .3s
			padding-bottom 40px
			&.is-opened
				transform translate(0, 0)
				// display flex
	&__menu-wrapper
		display flex
		align-items center
		justify-content space-between
		font-size 13px
		width 100%
		@media $phone
			flex-direction column
			width 100%
			z-index 100
			
	&__menu-item
		padding 0 5px
		box-sizing border-box
		@media $phone
			width 100%
			padding 10px
			border-top 1px solid #f3e9e2
			text-align left
			position relative
			&:last-of-type
				border-bottom 1px solid #f3e9e2
			&:after
				content '\e909'
				font-family 'icomoon'
				font-size 26px
				color $lightBrown
				
				position absolute
				top 3px
				right 20px
				
	&__menu-link
		color $lightBrown
		transition all 0.175s
		border-bottom 2px solid transparent
		padding-bottom 10px
		text-transform uppercase
		&:hover
		&:active
			color $darkBrown
			border-bottom 2px solid $darkBrown
		@media $phone
			width 100%
			height 100%
			display inline-block
			padding-bottom 0
			&:hover
			&:active
				border-bottom none
	&__search-btn
		width 100%
		max-width 18px
		font-size 18px
		margin-left 30px
		padding 0 5px
		box-sizing border-box
		color $darkBrown
		position relative
		cursor pointer
		@media $tablet
			margin-right auto
			margin-top 20px
		@media $phone
			display block
			position absolute
			top 10px
			right 12px
			margin 0
	&__search-wrapper
		display none
		position absolute
		top -10px
		right -19px
		width 315px
		&:before
			content '\e903'
			font-family 'icomoon'
			font-size 18px
			color $darkBrown
			position absolute
			right 15px
			top 9px
			@media $phone
				right 6px
		@media $phone
			right -10px
	&__search-input
		box-sizing border-box
		width 100%
		background #f3e9e2
		color $darkBrown
		border none
		height 40px
		padding 20px 40px 20px 15px
		border-radius 2px
		box-shadow 0px 4px 10px 0px #eae0e5
	&__mobile-menu
		display none
		font-size 26px
		line-height 0
		@media $phone
			display block
			position absolute
			top 10px
			left 10px
	&__btn
		width 17%
		margin-left auto
		@media $tablet
			position absolute
			top 0
			right 15px
		@media $phone
			position static
			margin-left auto
			margin-right auto
			margin-bottom 30px
			width 100%
			max-width 187px
	&__close
		font-size 18px
		line-height 0
		position absolute
		top 10px
		right 10px
	&__mobile-logo
		width 100%
		max-width 80px
		margin 15px auto
	&__mobile-logo-img
		max-width 100%

.header_inner
	.header__slogan
	.header__search-btn
	.header__close
	.header__menu-item:after
		color #fff
	.header__menu-link
		color #fff
		&:hover
			color #fff
			border-bottom 2px solid #fff
		@media $phone
			border-bottom none !important
	.header__menu
		background #836358
	.header__mobile-menu
		color #fff
// end-header