.inline-tabs
	padding 15px 0 150px
	@media $tablet
		padding 15px 0 75px
	&__wrapper
		display flex
		flex-wrap wrap
	&__nav
		width 100%
		display flex
		@media $phone
			flex-direction column
	&__btn
		font-size 14px
		padding 10px 20px
		color $darkBrown
		transition all 0.175s
		cursor pointer
		&:hover
		&:active
			background #f3e9e2
	&__content
		padding 25px 0
		width 100%
		@media $tablet
			.row
				flex-wrap wrap
			.col-6
				width 100%