//start links
.links
	background #f3e9e2
	min-height 75px
	&__inner
		display flex
		@media $phone
			flex-direction column
	&__wrapper
		width 60%
		padding 20px 0
		box-sizing border-box
		@media $phone
			width 100%
			padding 10px 0
			display flex
			flex-wrap wrap
			justify-content space-between
	&__item
		font-size 13px
		color $darkBrown
		padding-right 20px
		text-decoration underline
		&:hover
			text-decoration none
		@media $tablet
			margin-bottom 10px
			display inline-block
		@media $phone
			width 49.5%
			padding 0
			box-sizing border-box
			font-size 10px
	&__bg
		width 30%
		display flex
		align-items center
		justify-content center
		margin-left auto
		@media $phone
			width 100%
			margin-bottom 10px
	&__bg-inner
		background url('../f/i/logo-white.png') center right no-repeat
		width 343px
		height 75px
		background-size 100% auto
		position absolute
		right 15px
		top -5px
		@media $tablet
			display none
	&__btn
		width 100%
		max-width 187px
		z-index 1
//end links