//start map
.map
	&__wrapper
		height 513px
		margin-bottom 60px
		@media $phone
			height 250px
			margin-bottom 30px
			border 1px solid #f3e9e2
	&__logo
		position absolute
		transform-origin left top
		left 15px
		@media $phone
			display none
	&__map
		margin-left 136px
		height 100%
		@media $phone
			margin-left 0
//end map