//start-partners
.partners
	padding 60px 0
	border-top 1px solid #f3e9e2
	border-bottom 1px solid #f3e9e2
	@media $phone
		display none
	&__slider
		display flex
		margin-left -15px
		margin-right -15px
		justify-content center
		position relative
		padding 0 88px
		.slick-list
			overflow hidden
		.slick-track
			position relative
	&__item
		display inline-block
		margin 0 15px
		text-align center
	&__img
		max-width 100%
	&__slider-nav
		width 55px
		height 45px
		display flex
		align-items center
		justify-content center
		border 1px solid #e5d9d1
		box-sizing border-box
		background #fff
		transition all 0.175s
		color $darkBrown
		font-size 30px
		cursor pointer
		&:hover
			opacity 0.8
	&__slider-nav_left
		position absolute
		left 15px
		top 0
		&:before
			content '\e908'
			font-family 'icomoon'
	&__slider-nav_right
		position absolute
		right 15px
		top 0
		&:before
			content '\e909'
			font-family 'icomoon'
//end partners