// start-phones
.phones
	z-index 1
	&__wrapper
		display flex
		margin-top -30px
		margin-left -15px
		margin-right -15px
		margin-bottom 30px
		@media $phone
			margin-top 0
			flex-direction column
		@media $phone
			margin 0
	&__item
		width 31%
		margin 0 15px
		padding 26px 55px
		box-sizing border-box
		box-shadow 0px 5px 10px 0px #efecea
		background #fff
		text-transform uppercase
		@media $laptop
			padding 26px
		@media $tablet
			padding 26px 10px
		@media $phone
			width 100%
			box-shadow none
			color $lightBrown
			padding 7px 13px
			border 1px solid #f3e9e2
			border-radius 2px
			margin 0 0 10px 0
			display flex
	&__head
		font-size 14px
		color $lightBrown
		margin-bottom 0
		text-transform uppercase
		@media $phone
			width 50%
			padding 0 2px
			box-sizing border-box
			text-align left
	&__phone
		font-size 30px
		@media $tablet
			font-size 20px
		@media $phone
			width 50%
			font-size 14px
			padding 0 2px
			box-sizing border-box
			text-align right
	&__link
		color $darkBrown
		@media $phone
			font-size 14px
// end-phones