.popular
	padding 60px 0 20px
	@media $tablet
		padding 20px 0
	&__wrapper
		display flex
		align-items center
		background-image url('../f/i/services-popular-bg.jpg')
		background-position center center
		background-repeat no-repeat
		background-size 100% auto
		min-height 100px
		@media $tablet
			background #f3e9e2
			padding 20px
			.col-4
			.col-8
				width 100%
			.row
				flex-wrap wrap
	&__head
		font-size 20px
		color $darkBrown
		text-transform uppercase
		text-align center
		@media $tablet
			margin-bottom 10px
	&__links
		display flex
		flex-wrap wrap
	&__link
		width 25%
		padding 7.5px 15px 7.5px 0
		box-sizing border-box
		font-size 14px
		color $darkBrown
		text-decoration underline
		@media $tablet
			display inline-block
			padding 7.5px
		@media $phone
			width 100%
			font-size 13px
		&:hover
			text-decoration none