.price-table
	&__row
		display flex
		justify-content space-between
		padding 10px 0 4px
		border-bottom 1px solid #f3e9e2
		width 100%
		font-size 14px
		@media $phone
			font-size 13px
			padding 4px
			min-height 30px
			align-items center
	&__name
		width 70%
	&__value
		width 30%
		text-align right