.product
	margin 15px 0
	display flex
	flex-wrap wrap
	box-sizing border-box
	align-items center
	border 1px solid #f3e9e2
	&__img-wrapper
		position relative
		min-height 300px
		width 100%
		text-align center
	&__img
		max-width 100%
	&__info
		position absolute
		bottom 20px
		right 20px
		&:before
			content '\e901'
			font-family 'icomoon'
			font-size 25px
			color $darkBrown
	&__description
		background #f3e9e2
		padding 20px
		box-sizing border-box
		width 100%
		display flex
		flex-direction column
		justify-content space-between
		min-height 180px
	&__title
		font-size 14px
		color $darkBrown
		text-transform uppercase
		margin-bottom 5px
	&__props
		font-size 14px
		color $darkBrown
		flex-grow 1
	&__props-item
		margin-bottom 3px
	&__bottom
		display flex
		align-items center
		justify-content space-between
	&__price
		font-size 16px
	&__bottom-right
		width 100%
		max-width 138px
	&__quantity
		display flex
		box-sizing border-box
		height 32px
		border 1px solid $darkBrown
		border-radius 2px
		font-weight 500
		width 100%
	&__quantity-minus
	&__quantity-plus
		font-size 16px
		color $darkBrown
		text-align center
		width 32%
		height 100%
		display flex
		align-items center
		justify-content center
		transition all 0.175s
		background #f3e9e2
		border none
		cursor pointer
		&:hover
			color #fff
			background $darkBrown
	&__quantity-number
		background $darkBrown
		color #fff
		text-align center
		width 36%
		height 100%
		display flex
		align-items center
		justify-content center