// start-production
.production
	padding 60px 0
	@media $phone
		padding 20px 0
	&__head
		position absolute
		left 0
		top 0
		font-size 97px
		color $lightBrown
		font-weight 900
		text-transform uppercase
		@media $laptop
			position inherit
	&__head-inner
		transform rotateZ(-90deg) translate(-100%, 0)
		transform-origin left top
		@media $laptop
			transform none
			font-size 60px
			padding 0 15px
			margin-bottom 15px
		@media $tablet
			font-size 30px
			padding 0
	&__list
		margin-left 210px
		@media $laptop
			margin-left 0
		@media $tablet
			display flex
			flex-direction column
	&__item
		display flex
		align-items stretch
		margin-bottom 30px
		transition all 0.175s
		border 1px solid #f3e9e2
		@media $phone
			flex-direction column
			margin-bottom 10px
		&:last-child
			margin-bottom 0
		.production__content
			&:hover:after
				opacity 0.8
	&__img-wrapper
		width 263px
		flex-shrink 0
	&__img
		max-width 100%
	&__content
		flex-grow 1
		padding 30px
		position relative
		background #f3e9e2
		@media $tablet
			padding 20px
		&:after
			content '\e909'
			font-family 'icomoon'
			font-size 33px
			position absolute
			bottom 0
			right 0
			width 55px
			height 45px
			display flex
			align-items center
			justify-content center
			border 1px solid #e5d9d1
			box-sizing border-box
			background #f9f4f1
			transition all 0.175s
			color $darkBrown
			@media $phone
				top -45px
				background #fff
	&__content-head
		font-size 30px
		text-transform uppercase
		margin-bottom 15px
		color $darkBrown
		line-height 1
		text-transform uppercase
		@media $phone
			font-size 16px
			margin-bottom 10px
	&__content-desc
		font-size 14px
		text-transform uppercase
		color $lightBrown
// end-production