// start-promo
.promo
	position relative
	z-index 1
	&__slider
		display flex
		flex-wrap wrap
		position relative
		margin-top -72px
		@media $tablet
			margin-top -112px
		@media $phone
			margin-top 0
		.slick-list
			overflow hidden
			@media $phone
				padding-bottom 100px
		.slick-track
			position relative
	&__slider-item
		height 600px
		position relative
		display inline-block
		background-size auto 100%
		background-position center top
		@media $phone
			height auto
			min-height 215px
			.container
				position static
	&__slider-content
		position absolute
		top 10vw
		max-width 450px
		@media $tablet
			top 20vw
		@media $phone
			top 100%
			margin-top -20px
			left 50%
			margin-left -150px
			background #f3e9e2
			color $darkBrown
			padding 15px
			width 300px
			height 110px
			box-sizing border-box
			box-shadow 0px 5px 10px 0px #efecea
			
	&__slider-content_white
		color #fff
		@media $phone
			color $darkBrown
	&__slider-head
		font-size 30px
		margin-bottom 20px
		text-transform uppercase
		span
			font-weight 700
		@media $phone
			font-size 18px
			margin-bottom 10px
	&__slider-subhead
		font-size 16px
		margin-bottom 17px
		@media $phone
			font-size 14px
			margin-bottom 10px
	&__slider-img
		height 35px
		img
			max-height 100%
	&__slider-label
		color #fff
		background $darkBrown
		font-size 14px
		padding 8px 12px 7px 10px
		display inline-block
		box-sizing border-box
		margin-bottom 18px
		position relative
		text-transform uppercase
		@media $phone
			position absolute
			top -26px
			left 0
			padding 5px 10px
		&:after
			content ''
			position absolute
			left 100%
			top 0
			border-bottom 31px solid $darkBrown
			border-right 10px solid transparent
			@media $phone
				border-bottom 26px solid #67473c
	&__slider-nav-wrapper
		position absolute
		left 15px
		bottom 175px
		display flex
		z-index 10
		@media $phone
			right 13px
			bottom 134px
	&__slider-nav
		position relative
		font-size 34px
		color $lightBrown
		width 54px
		height 42px
		display flex
		flex-wrap wrap
		align-items center
		justify-content center
		border 1px solid #e5d9d1
		box-sizing border-box
		background #f9f4f1
		cursor pointer
		transition all 0.175s
		&:hover
			opacity 0.8
	&__slider-nav_left
		&:before
			content '\e908'
			font-family 'icomoon'
	&__slider-nav_right
		margin-left 10px
		&:before
			content '\e909'
			font-family 'icomoon'
// end-promo