// start-services
.services
	@media $tablet
		.col-3
		.col-4
		.col-6
			width 100%
	@media $phone
		padding 20px 0
	&__head
		font-size 97px
		width 100%
		color $lightBrown
		font-weight 900
		margin-bottom 30px
		text-transform uppercase
		@media $laptop
			font-size 60px
		@media $phone
			font-size 30px
			margin-bottom 15px
	&__item
		box-sizing border-box
		margin-bottom 25px
		display flex
		flex-wrap wrap
		height auto
		position relative
		@media $phone
			margin-bottom 20px
		&.services__is-link:after
			content '\e909'
			font-family 'icomoon'
			font-size 38px
			position absolute
			bottom 0
			right 0
			width 75px
			height 47px
			display flex
			align-items center
			justify-content center
			border 1px solid #e5d9d1
			box-sizing border-box
			background #f9f4f1
			opacity 0.8
			transition all 0.175s
			color $darkBrown
	&__item-head
		font-size 20px
		margin-bottom 15px
		width 100%
		text-transform uppercase
		min-height 48px
		display flex
		align-items flex-end
		@media $tablet
			font-size 18px
			min-height inherit
		@media $phone
			margin-bottom 10px
	&__item-link
		width 100%
		height 100%
		color $darkBrown
		.services__item-inner
			&:hover
				opacity 0.8
			&:hover:after
				opacity 0.8
	&__menu
		display flex
		width 100%
		flex-wrap wrap
		padding 25px 30px
		box-sizing border-box
		flex-direction column
		justify-content space-between
		@media $phone
			padding 20px
	&__menu-item
		font-size 14px
		width 100%
		color $darkBrown
		&:hover
			text-decoration underline
	&__item-inner
		display flex
		width 100%
		height 240px
		background-position center top
		background-repeat no-repeat
		position relative
		border 1px solid #f3e9e2
		box-sizing border-box
		@media $tablet
			background-size cover
		@media $smallPhone
			height 120px
	&__item-menu
		@media $phone
			height 240px
// end-services