.services-works
	background-image url('../f/i/services-works-bg.jpg')
	background-position center top
	background-size auto 100%
	background-repeat no-repeat
	@media $tablet
		.col-offset-3
			margin-left 0
		.col-9
			width 100%
	@media $phone
		background #f3e9e2
	&__wrapper
		position relative
		margin 60px 0 30px
		@media $phone
			flex-direction column
	&__head
		position absolute
		left 0
		top 0
		font-size 43px
		color #836358
		text-transform uppercase
		@media $phone
			position inherit
			margin-bottom 20px
			text-align right
	&__head-inner
		transform rotateZ(-90deg) translate(-100%, 0)
		transform-origin left top
		@media $phone
			transform none
	&__slider
		display flex
		margin-left 12%
		// @media $phone
		// 	margin-left 0
		.slick-list
			overflow hidden
		.slick-track
			position relative
		@media $laptop
			margin-left 0
	&__item
		display inline-block
		@media $laptop
			width 200px
	&__img
		max-width 100%
		@media $laptop
			width 100%
			box-sizing border-box
			padding 0 15px
		@media $phone
			padding 0 5px
	&__slider-nav
		width 55px
		height 45px
		display flex
		align-items center
		justify-content center
		border 1px solid #e5d9d1
		box-sizing border-box
		background #f9f4f1
		transition all 0.175s
		color $darkBrown
		font-size 30px
		cursor pointer
		position absolute
		top -50px
		&:hover
			opacity 0.8
	&__slider-nav_left
		right 68px
		&:before
			content '\e908'
			font-family 'icomoon'
	&__slider-nav_right
		right 0px
		&:before
			content '\e909'
			font-family 'icomoon'