.stuff
	padding 60px 0
	&__slider
		display flex
		position relative
		@media $phone
			padding-bottom 60px
		.slick-list
			overflow hidden
		.slick-track
			position relative
	&__slider-img
		max-width 100%
		@media $phone
			width 100%
	&__slider-item
		display inline-block
	&__slider-nav
		width 55px
		height 45px
		display flex
		align-items center
		justify-content center
		border 1px solid #e5d9d1
		box-sizing border-box
		background #f9f4f1
		transition all 0.175s
		color $darkBrown
		font-size 30px
		cursor pointer
		z-index 1
		bottom -50px
		position absolute
		@media $phone
			bottom 10px
		&:hover
			opacity 0.8
	&__slider-nav_left
		right 65px
		&:before
			content '\e908'
			font-family 'icomoon'
	&__slider-nav_right
		right 0
		&:before
			content '\e909'
			font-family 'icomoon'