.team
	background-image url('../f/i/about-bg.jpg')
	background-position center top
	background-size auto 500px
	background-repeat no-repeat
	@media $phone
		background #f3e9e2
		.col-3
		.col-9
			width 100%
		.row
			flex-wrap wrap
	&__slider
		margin-top 60px
	&__slider-inner
		position relative
		display flex
		.slick-list
			overflow hidden
		.slick-track
			position relative
	&__slider-item
		display inline-block
		padding 0 15px
		box-sizing border-box
		vertical-align top
		text-align center
	&__slider-img
		max-width 100%
	&__slider-head
		font-size 20px
		color $darkBrown
		margin-top 15px
		text-transform uppercase
		@media $laptop
			font-size 18px
	&__slider-nav
		width 55px
		height 45px
		display flex
		align-items center
		justify-content center
		border 1px solid #e5d9d1
		box-sizing border-box
		background #f9f4f1
		transition all 0.175s
		color $darkBrown
		font-size 30px
		cursor pointer
		position absolute
		top -55px
		&:hover
			opacity 0.8
	&__slider-nav_left
		right 75px
		&:before
			content '\e908'
			font-family 'icomoon'
	&__slider-nav_right
		right 15px
		&:before
			content '\e909'
			font-family 'icomoon'
	&__post
		margin-top 10px
		font-size 14px
	&__slider-btns
		margin 20px 0
		text-align center
		font-size 0
	&__slider-btn
		width calc(50% - 8px)
		vertical-align top
		display inline-block
		&:last-child
			margin-left 15px
	&__head
		font-size 30px
		margin-bottom 20px
		color $darkBrown
		text-transform uppercase
		@media $phone
			font-size 18px
			margin-bottom 15px
			margin-top 10px
	&__menu
		display flex
		flex-direction column
		align-items flex-start
	&__menu-item
		padding-bottom 10px
		border-bottom 2px solid transparent
		margin-bottom 15px
		transition all 0.175s
		@media $phone
			margin-bottom 10px
			padding-bottom 0
		&:last-child
			margin-bottom 0
		&:hover
		&:active
			border-bottom 2px solid $darkBrown
	&__menu-link
		font-size 20px
		text-transform uppercase
		color $darkBrown
		@media $tablet
			font-size 18px
		@media $phone
			font-size 14px