.vacancy
	padding 60px 0
	@media $phone
		padding 20px 0
	&__wrapper
		background-image url('../f/i/about-banner.jpg')
		background-size 100% auto
		background-repeat no-repeat
		background-position center top
		@media $tablet
			background-size cover
			background-position 50%
			.col-offset-7
				margin-left 50%
			.col-5
				width 50%
		@media $phone
			background-position 100%
			.col-offset-7
				margin-left 0
			.col-5
				width 100%
	&__inner
		display flex
		justify-content center
		min-height 359px
		max-width 315px
		flex-direction column
		@media $phone
			max-width 80%
			margin 0 auto
	&__head
		font-size 30px
		color $darkBrown
		margin-bottom 20px
		text-transform uppercase
		width 100%
		@media $phone
			font-size 18px
	&__content
		font-size 14px
		width 100%
		p
			margin-bottom 15px