.workers
	@media $phone
		display none
	&__slider
		position relative
		display flex
		.slick-list
			overflow hidden
		.slick-track
			position relative
	&__slider-nav
		width 55px
		height 45px
		display flex
		align-items center
		justify-content center
		border 1px solid #e5d9d1
		box-sizing border-box
		background #f9f4f1
		transition all 0.175s
		color $darkBrown
		font-size 30px
		cursor pointer
		position absolute
		bottom -65px
		&:hover
			opacity 0.8
	&__slider-nav_left
		right 65px
		&:before
			content '\e908'
			font-family 'icomoon'
	&__slider-nav_right
		right 0px
		&:before
			content '\e909'
			font-family 'icomoon'
	&__inner
		display inline-block
	&__wrapper
		@media $phone
			.row
				flex-wrap wrap
			.col-6
				width 100%