.worker
	width 100%
	display flex
	margin-bottom 15px
	&:last-of-type
		margin-bottom 0
	&__img-wrapper
		font-size 0
		width 100px
	&__img
		max-width 100%
	&__info
		border 1px solid #f3e9e2
		border-left none
		box-sizing border-box
		flex-grow 1
		padding 8px 10px
	&__head
		text-transform uppercase 
		font-size 16px
		color $darkBrown
		margin-bottom 5px
	&__post
		font-size 14px
		color $darkBrown
	&__btns
		margin-top 10px
		display flex
		justify-content space-between
	&__btn
		width 100%
		max-width 125px
		margin 0 5px