// start-works
.works
	// background-image url('../f/i/works-bg.jpg')
	// background-position center top
	// background-repeat no-repeat
	// background-size auto 100%
	background url('../f/i/works-bg-lines.svg') center top no-repeat, #f3e9e2
	margin-top 40px
	background-size cover
	padding 45px 0
	@media $phone
		margin-top 20px
	&__wrapper
		margin-left -15px
		margin-right -15px
		@media $phone
			max-width 100%
	&__head
		position absolute
		left 0
		top 15px
		font-size 97px
		color #fff
		font-weight 900
		text-transform uppercase
		@media $laptop
			position inherit
			font-size 60px
	&__head-inner
		transform rotateZ(-90deg) translate(-100%, 0)
		transform-origin left top
		text-transform uppercase
		@media $laptop
			transform none
			padding 0 15px
	&__slider
		margin-left 195px
		@media $laptop
			margin-left 0
		.slick-list
			overflow hidden
	&__slider-inner
		display flex
		.slick-track
			position relative
	&__slider-list
		display inline-block
	&__wrapper
		&_left
			width 40%
			flex-shrink 0
			.works__item_large
				width 100%
				height 390px
		&_right
			width 60%
			flex-shrink 0
			display flex
			flex-wrap wrap
			.works__item_small
				width (100%/3)
				height 195px
	&__item
		padding 15px
		box-sizing border-box
	&__img
		max-width 100%
		@media $phone
			width 200px
			padding 5px
	&__slider-nav
		width 55px
		height 45px
		display flex
		align-items center
		justify-content center
		border 1px solid #e5d9d1
		box-sizing border-box
		background #f9f4f1
		transition all 0.175s
		color $darkBrown
		font-size 30px
		cursor pointer
		z-index 1
		&:hover
			opacity 0.8
	&__slider-nav_left
		position absolute
		right 80px
		bottom 0
		@media $laptop
			right 85px
		@media $phone
			top 0
			right 65px
		&:before
			content '\e908'
			font-family 'icomoon'
	&__slider-nav_right
		position absolute
		right 15px
		bottom 0
		@media $laptop
			right 20px
		@media $phone
			top 0
			right 0
		&:before
			content '\e909'
			font-family 'icomoon'
	&__subscribe
		margin-top 10px
		display flex
		align-items center
		font-size 14px
		color $darkBrown
		padding-right 145px
		margin-left 195px
		padding-left 15px
		position relative
		@media $laptop
			margin-left 0
		@media $phone
			flex-direction column
			padding 0
			margin-left 10px
	&__subscribe-wrapper
		display flex
		align-items center
		margin-right 40px
		width 100%
		max-width 180px
		&:hover .works__subscribe-head,
		&:hover .works__subscribe-subs
			text-decoration underline
		@media $phone
			max-width 100%
			margin-right 0
			margin-bottom 10px
	&__subscribe-logo
		margin-right 10px
		width 42px
		height 42px
		background url('../f/i/works-insta-logo.png') center center no-repeat
	&__subscribe-head
		margin-bottom 5px
		color $darkBrown
	&__subscribe-subs
		color $darkBrown
		@media $phone
			font-size 12px
// end-works